In [5]:
import numpy as np 
import pandas as pd 
import os
import cv2
from PIL import Image
from tensorflow.keras.layers import Input, Lambda, Dense, Flatten
from tensorflow.keras.models import Model
from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.models import Sequential
import tensorflow as tf 
from tensorflow.keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPool2D, BatchNormalization,MaxPooling2D,BatchNormalization,\
                        Permute, TimeDistributed, GlobalAveragePooling2D, SeparableConv2D,\
ZeroPadding2D, Convolution2D, ZeroPadding2D, Conv2DTranspose,ReLU, UpSampling2D, Concatenate, Conv2DTranspose

In [6]:
import pandas as pd

data = pd.read_csv('datasets/df_f_new.csv')

# Mezclar todas las filas
data_shuffled = data.sample(frac=1).reset_index(drop=True)

data_shuffled

                               Image  Category
0                 trash/trash501.jpg         8
1             plastic/plastic656.jpg         7
2     brown-glass/brown-glass259.jpg         2
3                  metal/metal36.jpg         5
4       biological/biological903.jpg         1
...                              ...       ...
8208              paper/paper496.jpg         6
8209              trash/trash575.jpg         8
8210           plastic/plastic19.jpg         7
8211  white-glass/white-glass318.jpg         9
8212  white-glass/white-glass165.jpg         9

[8213 rows x 2 columns]

In [7]:
def split_data(data_shuffled,ratio):
    last=int(len(data_shuffled)*ratio)
    return data[:last], data[last:]

In [8]:
data_shuffled['Category'].value_counts()

Category
6    1050
1     985
0     945
3     891
7     865
9     775
5     769
8     697
4     629
2     607
Name: count, dtype: int64

In [9]:
import numpy as np

def split_data(data_shuffled, train_ratio):
    # Obtener las categorías únicas en los datos
    unique_categories = np.unique(data_shuffled['Category'])

    # Dividir los datos en conjunto de entrenamiento y validación para cada categoría
    train_data = []
    valid_data = []
    for category in unique_categories:
        category_data = data_shuffled[data_shuffled['Category'] == category]
        train_size = int(len(category_data) * train_ratio)
        train_category = category_data[:train_size]
        valid_category = category_data[train_size:]
        train_data.append(train_category)
        valid_data.append(valid_category)

    # Combinar los datos de todas las categorías en un solo conjunto de entrenamiento y validación
    train = pd.concat(train_data)
    test = pd.concat(valid_data)

    return train, test

In [10]:
train, test = split_data(data_shuffled, 0.8)

In [11]:
test['Category'].value_counts()

Category
6    210
1    197
0    189
3    179
7    173
9    155
5    154
8    140
4    126
2    122
Name: count, dtype: int64

In [12]:
train.to_csv('train_kagglemobil.csv',index=False)
test.to_csv('test_kagglemobil.csv',index=False)

In [14]:
IMAGE_WIDTH = 224    
IMAGE_HEIGHT = 224
IMAGE_SIZE=(IMAGE_WIDTH, IMAGE_HEIGHT)
IMAGE_CHANNELS = 3

In [16]:
base_path = "new_garbage_classification/"

In [15]:
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Dropout, Flatten, Dense, Activation, BatchNormalization
import keras.applications.mobilenet_v2 as mobilenetv2

mobilenetv2_layer = mobilenetv2.MobileNetV2(include_top = False, input_shape = (IMAGE_WIDTH, IMAGE_HEIGHT,IMAGE_CHANNELS),
                       weights = '../input/mobilenet-v2-keras-weights/mobilenet_v2_weights_tf_dim_ordering_tf_kernels_1.0_224_no_top.h5')

# We don't want to train the imported weights
mobilenetv2_layer.trainable = False

ValueError: The `weights` argument should be either `None` (random initialization), `imagenet` (pre-training on ImageNet), or the path to the weights file to be loaded.  Received `weights=../input/mobilenet-v2-keras-weights/mobilenet_v2_weights_tf_dim_ordering_tf_kernels_1.0_224_no_top.h5`

In [13]:
from sklearn.utils import resample

In [14]:
train['Category'].value_counts()

Category
6    840
1    788
0    756
3    712
7    692
9    620
5    615
8    557
4    503
2    485
Name: count, dtype: int64

In [16]:
train,valid=split_data(train,.9)

In [24]:
train

                               Image  Category
21            battery/battery403.jpg         0
35            battery/battery182.jpg         0
38            battery/battery393.jpg         0
51            battery/battery464.jpg         0
66            battery/battery231.jpg         0
...                              ...       ...
5828  white-glass/white-glass282.jpg         9
5837  white-glass/white-glass561.jpg         9
5878  white-glass/white-glass679.jpg         9
5889  white-glass/white-glass688.jpg         9
5913  white-glass/white-glass513.jpg         9

[5907 rows x 2 columns]

In [17]:
train["Category"].value_counts()

Category
6    756
1    709
0    680
3    640
7    622
9    558
5    553
8    501
4    452
2    436
Name: count, dtype: int64

In [18]:
valid["Category"].value_counts()

Category
6    84
1    79
0    76
3    72
7    70
5    62
9    62
8    56
4    51
2    49
Name: count, dtype: int64

In [31]:
valid

                              Image  Category
5913         plastic/plastic132.jpg         7
5914         plastic/plastic133.jpg         7
5915         plastic/plastic134.jpg         7
5916         plastic/plastic135.jpg         7
5917         plastic/plastic136.jpg         7
...                             ...       ...
8208  white-glass/white-glass95.jpg         9
8209  white-glass/white-glass96.jpg         9
8210  white-glass/white-glass97.jpg         9
8211  white-glass/white-glass98.jpg         9
8212  white-glass/white-glass99.jpg         9

[2300 rows x 2 columns]

In [19]:
test

                               Image  Category
6617          battery/battery344.jpg         0
6620          battery/battery944.jpg         0
6644          battery/battery657.jpg         0
6645          battery/battery495.jpg         0
6646          battery/battery359.jpg         0
...                              ...       ...
8204   white-glass/white-glass62.jpg         9
8205  white-glass/white-glass324.jpg         9
8207  white-glass/white-glass300.jpg         9
8208  white-glass/white-glass637.jpg         9
8209   white-glass/white-glass47.jpg         9

[1645 rows x 2 columns]

In [22]:
valid["Category"].value_counts()

Category
6    84
1    79
0    76
3    72
7    70
5    62
9    62
8    56
4    51
2    49
Name: count, dtype: int64

In [25]:
data_directory = "new_garbage_classification/"