# QUERIES

In [3]:
import os
from dotenv import load_dotenv
import sqlalchemy as alch
import src.sql_queries as sql
import pymysql
import sqlalchemy as alch 
from getpass import getpass
import pandas as pd
import src.sql_queries as sql

### 3.1 Connection to SQL

Establish connection to MySQL Workbench

In [4]:
def connection_sql(password, dbName):
    load_dotenv()
    connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    return engine

In [5]:
password = os.getenv("password")

In [6]:
engine=sql.sql_connection("project_v")

# Waste generated Europe

In [19]:
query='''
SELECT 
    SUM(`2011`) AS Total_2011,
    SUM(`2012`) AS Total_2012,
    SUM(`2013`) AS Total_2013,
    SUM(`2014`) AS Total_2014,
    SUM(`2015`) AS Total_2015,
    SUM(`2016`) AS Total_2016,
    SUM(`2017`) AS Total_2017,
    SUM(`2018`) AS Total_2018,
    SUM(`2019`) AS Total_2019,
    SUM(`2020`) AS Total_2020
FROM df_generated_global_packaging
'''
pd.read_sql_query (query, engine)

,Total_2011,Total_2012,Total_2013,Total_2014,Total_2015,Total_2016,Total_2017,Total_2018,Total_2019,Total_2020
0,3725.01,3691.58,3797.42,3892.88,3990.67,4068.66,4179.5,4182.79,4284.61,4322.67

In [20]:
query='''
SELECT  
    SUM(`2011`) AS Total_2011,
    SUM(`2012`) AS Total_2012,
    SUM(`2013`) AS Total_2013,
    SUM(`2014`) AS Total_2014,
    SUM(`2015`) AS Total_2015,
    SUM(`2016`) AS Total_2016,
    SUM(`2017`) AS Total_2017,
    SUM(`2018`) AS Total_2018,
    SUM(`2019`) AS Total_2019,
    SUM(`2020`) AS Total_2020
FROM df_generated_global_packaging
WHERE COUNTRY <> 'European Union - 27 countries (from 2020)'
'''
pd.read_sql_query (query, engine)

,Total_2011,Total_2012,Total_2013,Total_2014,Total_2015,Total_2016,Total_2017,Total_2018,Total_2019,Total_2020
0,3567.86,3536.81,3640.85,3731.7,3825.51,3899.7,4005.66,4009.54,4107.05,4144.75

# Recycling ratio

Which is the average total ratio of recyling per year in europe?

In [21]:
query='''
SELECT COUNTRY, AVG(`2019`) AS Avg_Recycling_Ratio_2019
FROM recy_ratio_europe
GROUP BY COUNTRY
'''
pd.read_sql_query (query, engine)

                                             COUNTRY  Avg_Recycling_Ratio_2019
0          European Union - 27 countries (from 2020)                    65.850
1                                            Belgium                    80.775
2                                            Czechia                    74.200
3                                            Denmark                    69.650
4   Germany (until 1990 former territory of the FRG)                    66.275
5                                            Estonia                    74.425
6                                            Ireland                    63.050
7                                              Spain                    68.450
8                                             France                    65.250
9                                              Italy                    68.100
10                                            Cyprus                    65.525
11                                            Latvia                    61.925
12                                         Lithuania                    66.450
13                                        Luxembourg                    70.850
14                                           Hungary                    44.950
15                                             Malta                    34.625
16                                       Netherlands                    78.875
17                                           Austria                    65.500
18                                          Portugal                    56.375
19                                           Romania                    46.725
20                                          Slovenia                    74.375
21                                          Slovakia                    66.925
22                                           Finland                    81.475
23                                            Sweden                    71.225
24                                     Liechtenstein                    63.475
25                                            Norway                    67.025

Average per country in one year

In [22]:
query='''
SELECT COUNTRY, `2019` AS Recycling_Ratio_2019
FROM recy_ratio_europe
WHERE `2019` = (SELECT MAX(`2019`) FROM recy_ratio_europe)
'''
pd.read_sql_query (query, engine)

   COUNTRY  Recycling_Ratio_2019
0  Finland                 115.9

Countries with higher ratio

In [26]:
query='''
SELECT COUNTRY, `2019` AS Recycling_Ratio_2019
FROM recy_ratio_europe
WHERE `2019` = (SELECT MAX(`2019`) FROM recy_ratio_europe)
'''
pd.read_sql_query (query, engine)

   COUNTRY  Recycling_Ratio_2019
0  Finland                 115.9

Average per material from 2011 to 2020

In [25]:
query='''
SELECT Material, AVG(`2009`) AS Avg_Recycling_Ratio_2009, AVG(`2010`) AS Avg_Recycling_Ratio_2010, ...
FROM recy_ratio_europe
GROUP BY Material
'''
pd.read_sql_query (query, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '...\nFROM recy_ratio_europe\nGROUP BY Material' at line 1")
[SQL:
SELECT Material, AVG(`2009`) AS Avg_Recycling_Ratio_2009, AVG(`2010`) AS Avg_Recycling_Ratio_2010, ...
FROM recy_ratio_europe
GROUP BY Material
]
(Background on this error at: https://sqlalche.me/e/14/f405)

Countries with a ratio improvement across the years

In [24]:
query='''
SELECT COUNTRY
FROM recy_ratio_europe
WHERE `2009` < `2010` AND `2010` < `2011` AND `2011` < `2012` AND ...
'''
pd.read_sql_query (query, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '...' at line 3")
[SQL:
SELECT COUNTRY
FROM recy_ratio_europe
WHERE `2009` < `2010` AND `2010` < `2011` AND `2011` < `2012` AND ...
]
(Background on this error at: https://sqlalche.me/e/14/f405)