In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import re
import numpy as np

In [2]:
def drop_columns_without_name(df):
    columns_without_name = df.columns[df.columns.map(lambda x: isinstance(x, float))]
    df = df.drop(columns_without_name, axis=1)
    return df

In [3]:
def rename_columns_and_drop_rows(df):
    rename_names = df.iloc[7].tolist()
    df.columns = rename_names
    df.drop(range(0, 9), axis=0, inplace=True)
    return df

In [4]:
def generated_rename_columns_and_drop_rows(df):
    rename_names = df.iloc[8].tolist()
    df.columns = rename_names
    df.drop(range(0, 10), axis=0, inplace=True)
    return df

In [5]:
def drop_columns_without_name(df):
    columns_without_name = df.columns[df.columns.map(lambda x: isinstance(x, float))]
    df = df.drop(columns_without_name, axis=1)
    return df

In [6]:
def drop_rows_with_colon(df):
    df = df[~df.astype(str).apply(lambda row: row.str.contains(":", na=False)).any(axis=1)]
    return df

In [7]:
def concat_dataframes(df1, df2, df3=None, df4=None, df5=None):
    dfs = [df1, df2]

    if df3 is not None:
        dfs.append(df3)
    if df4 is not None:
        dfs.append(df4)
    if df5 is not None:
        dfs.append(df5)

    df = pd.concat(dfs, axis=0)
    return df

In [8]:
def drop_rows_with_nan(df):
    df = df.dropna(axis=0, how='any')
    return df

In [25]:
def rename_columns(df, new_names):
    df = df.rename(columns=new_names)
    return df

In [26]:
def rename_columns_and_drop_rows(df):
    rename_names = df.iloc[7].tolist()
    df.columns = rename_names
    df.drop(range(0, 9), axis=0, inplace=True)
    return df

In [27]:
def drop_rows(df, column, values):
    df = df.dropna()
    df = df[~df[column].isin(values)]
    return df

#  Europe - waste generated

In [28]:
excel_file = pd.ExcelFile('datasets/env_waspac__custom_6440450_page_spreadsheet.xlsx')

In [29]:
sheet_names = excel_file.sheet_names
dfs={}
for sheet_name in sheet_names:
    df=excel_file.parse(sheet_name)
    dfs[sheet_name]=df

In [30]:
df_generated_global_packaging=dfs['Sheet 1']

In [31]:
df_generated_global_packaging = generated_rename_columns_and_drop_rows(df_generated_global_packaging)
df_generated_global_packaging.head()

,TIME,2011,NaN,2012,NaN,2013,NaN,2014,NaN,2015,...,2016,NaN,2017,NaN,2018,NaN,2019,NaN,2020,NaN
10,European Union - 27 countries (from 2020),157.15,s,154.77,NaN,156.57,NaN,161.18,NaN,165.16,...,168.96,NaN,173.84,NaN,173.25,NaN,177.56,NaN,177.92,s
11,Belgium,154.24,NaN,154.46,NaN,155.77,NaN,155.4,NaN,155.32,...,157.13,NaN,156.55,NaN,157.51,NaN,160.62,NaN,167.28,NaN
12,Bulgaria,42.82,NaN,45,NaN,48.18,NaN,52.42,NaN,54.69,...,59.08,NaN,64.05,NaN,70.82,NaN,79.49,NaN,:,NaN
13,Czechia,90.06,NaN,91.56,NaN,95.66,NaN,96.89,NaN,103.14,...,108.82,NaN,115.03,NaN,122,NaN,125.04,NaN,124.21,NaN
14,Denmark,158.53,be,160.05,e,159.05,NaN,161.41,NaN,155.26,...,163.29,NaN,168.29,NaN,173.1,NaN,169.11,NaN,179.34,NaN

In [32]:
df_generated_global_packaging = drop_columns_without_name(df_generated_global_packaging)

In [33]:
df_generated_global_packaging = drop_columns_without_name(df_generated_global_packaging)

In [34]:
df_generated_global_packaging=drop_rows_with_colon(df_generated_global_packaging)
df_generated_global_packaging=drop_rows_with_nan(df_generated_global_packaging)

In [35]:
new_names5 = {'TIME': 'COUNTRY'}
df_generated_global_packaging = rename_columns(df_generated_global_packaging, new_names5)
df_generated_global_packaging.head()

,COUNTRY,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
10,European Union - 27 countries (from 2020),157.15,154.77,156.57,161.18,165.16,168.96,173.84,173.25,177.56,177.92
11,Belgium,154.24,154.46,155.77,155.4,155.32,157.13,156.55,157.51,160.62,167.28
13,Czechia,90.06,91.56,95.66,96.89,103.14,108.82,115.03,122,125.04,124.21
14,Denmark,158.53,160.05,159.05,161.41,155.26,163.29,168.29,173.1,169.11,179.34
15,Germany (until 1990 former territory of the FRG),205.37,206.23,212.37,219.53,222.23,220.55,226.52,227.49,227.55,225.79

In [36]:
df_generated_global_packaging.to_excel('datasets/df_generated_global_packaging.xlsx', index=True)

In [37]:
df_generated_global_packaging.to_csv('datasets/df_generated_global_packaging.csv')

### QUERY

### 3.1 Connection to SQL

Establish connection to MySQL Workbench

In [52]:
import os
from dotenv import load_dotenv
import sqlalchemy as alch
import src.sql_queries as sql
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd
import src.sql_queries as sql

In [53]:
def connection_sql(password, dbName):
    load_dotenv()
    connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    return engine

In [54]:
password = os.getenv("password")

In [56]:
engine=sql.sql_connection("project_v")

In [57]:
query='''
SELECT COUNTRY, 
       SUM(`2011`) AS total_2011,
       SUM(`2012`) AS total_2012,
       SUM(`2013`) AS total_2013,
       SUM(`2014`) AS total_2014,
       SUM(`2015`) AS total_2015,
       SUM(`2016`) AS total_2016,
       SUM(`2017`) AS total_2017,
       SUM(`2018`) AS total_2018,
       SUM(`2019`) AS total_2019,
       SUM(`2020`) AS total_2020
FROM df_generated_global_packaging
GROUP BY COUNTRY
'''
pd.read_sql_query (query, engine)

,COUNTRY,total_2011,total_2012,total_2013,total_2014,total_2015,total_2016,total_2017,total_2018,total_2019,total_2020
0,European Union - 27 countries (from 2020),157.15,154.77,156.57,161.18,165.16,168.96,173.84,173.25,177.56,177.92
1,Belgium,154.24,154.46,155.77,155.40,155.32,157.13,156.55,157.51,160.62,167.28
2,Czechia,90.06,91.56,95.66,96.89,103.14,108.82,115.03,122.00,125.04,124.21
3,Denmark,158.53,160.05,159.05,161.41,155.26,163.29,168.29,173.10,169.11,179.34
4,Germany (until 1990 former territory of the FRG),205.37,206.23,212.37,219.53,222.23,220.55,226.52,227.49,227.55,225.79
5,Estonia,145.41,149.15,169.90,173.30,172.14,169.33,175.46,158.15,157.64,154.74
6,Ireland,188.55,176.00,188.18,208.13,209.14,208.46,215.98,208.06,227.98,224.45
7,Spain,152.90,143.73,143.63,147.64,154.03,155.55,161.70,161.22,170.04,168.21
8,France,196.70,187.30,184.43,188.10,187.36,190.08,193.08,195.49,187.01,187.60
9,Italy,195.99,190.55,190.31,196.78,202.82,209.54,217.35,211.20,215.64,208.77
10,Cyprus,88.80,86.75,91.31,85.69,85.97,86.23,89.94,86.73,92.31,91.68
11,Latvia,104.91,105.13,113.94,111.15,118.00,118.20,122.17,133.54,136.74,142.81
12,Lithuania,96.54,101.12,108.11,117.56,120.94,127.39,127.72,126.58,134.41,136.79
13,Luxembourg,201.95,202.67,206.14,227.03,217.55,222.44,225.15,224.04,217.22,205.22
14,Hungary,84.08,102.10,103.34,110.01,117.68,121.78,128.82,138.35,142.79,154.61
15,Malta,127.93,125.12,133.89,133.76,140.64,146.98,146.76,146.65,153.70,139.81
16,Netherlands,164.62,164.07,167.46,165.25,182.00,184.38,183.17,165.05,170.42,173.55
17,Austria,146.82,148.70,149.97,152.52,151.72,153.46,156.52,159.90,161.89,157.34
18,Portugal,148.31,145.34,149.10,151.46,153.05,160.18,166.01,173.47,172.22,175.07
19,Romania,49.26,52.82,52.75,62.52,70.48,68.53,71.92,80.47,103.81,116.38
20,Slovenia,101.03,98.20,97.28,101.70,104.75,108.04,113.29,114.81,117.44,118.16
21,Slovakia,82.19,82.91,81.77,85.56,90.94,95.35,95.15,102.20,104.77,103.67
22,Finland,131.70,132.20,131.77,134.01,130.27,129.19,135.00,127.93,131.44,157.66
23,Sweden,109.13,111.17,109.17,113.23,113.34,132.41,130.75,133.04,134.31,132.06
24,Iceland,138.52,139.00,147.59,129.39,140.88,147.12,150.40,146.79,149.05,130.61
25,Liechtenstein,157.63,141.72,152.28,155.15,172.83,165.74,169.88,174.66,178.39,195.49
26,Norway,146.69,138.76,145.68,148.53,153.03,149.53,163.05,161.11,165.51,173.45

In [129]:
df_generated_global_packaging.to_sql('df_generated_global_packaging', con=engine, if_exists='replace', index=False)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
query="SELECT * FROM df_generated_global_packaging;"
df10 = pd.read_sql(query, engine)
df10.sample()

- What is the total waste evolution across the years in Europe?

# Europe Recycled ratio

In [60]:
excel_file = pd.ExcelFile('datasets/eurostat.xlsx')

In [61]:
def remove_columns(df, col):
    df = df.drop(columns=col)
    return df

In [62]:
def clean_data(df):
    df.drop_duplicates(inplace=True)
    return df

In [63]:
sheet_names = excel_file.sheet_names
dfs={}
for sheet_name in sheet_names:
    df=excel_file.parse(sheet_name)
    dfs[sheet_name]=df

In [64]:
df_packaging = dfs['Sheet 1']
df_cardboard_paper = dfs['Sheet 2']
df_plastic = dfs['Sheet 3']
df_glass = dfs['Sheet 6']

In [65]:
df_packaging = rename_columns_and_drop_rows(df_packaging)
df_packaging.head()

,TIME,2009,NaN,2010,NaN,2011,NaN,2012,NaN,2013,...,2016,NaN,2017,NaN,2018,NaN,2019,NaN,2020,NaN
9,European Union - 27 countries (from 2020),62.6,s,64,s,64.2,s,65.2,NaN,65.4,...,67.6,NaN,67.5,NaN,65.6,NaN,64.6,NaN,64,s
10,Euro area â€“ 20 countries (from 2023),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
11,Euro area - 19 countries (2015-2022),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
12,Belgium,79.1,NaN,79.8,NaN,80.2,NaN,80.3,NaN,78.7,...,81.9,NaN,83.8,NaN,85.3,NaN,83.5,NaN,79.7,NaN
13,Bulgaria,45.9,NaN,61.6,NaN,65.1,NaN,66.5,NaN,65.7,...,63.8,NaN,65.6,NaN,60.4,NaN,61.2,NaN,:,NaN

In [10]:
df_packaging = drop_columns_without_name(df_packaging)
df_packaging.sample()

,TIME,2009,2010,2011,2012,2013,NaN,2014,NaN,2015,NaN,2016,NaN,2017,2018,2019,2020
50,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_packaging=drop_columns_without_name(df_packaging)
df_packaging.head()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
9,European Union - 27 countries (from 2020),62.6,64,64.2,65.2,65.4,66.5,66.6,67.6,67.5,65.6,64.6,64
10,Euro area â€“ 20 countries (from 2023),:,:,:,:,:,:,:,:,:,:,:,:
11,Euro area - 19 countries (2015-2022),:,:,:,:,:,:,:,:,:,:,:,:
12,Belgium,79.1,79.8,80.2,80.3,78.7,81.3,81.5,81.9,83.8,85.3,83.5,79.7
13,Bulgaria,45.9,61.6,65.1,66.5,65.7,62,64.1,63.8,65.6,60.4,61.2,:

In [14]:
df_packaging=drop_rows_with_colon(df_packaging)
df_packaging.head()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
9,European Union - 27 countries (from 2020),62.6,64,64.2,65.2,65.4,66.5,66.6,67.6,67.5,65.6,64.6,64
12,Belgium,79.1,79.8,80.2,80.3,78.7,81.3,81.5,81.9,83.8,85.3,83.5,79.7
14,Czechia,68.8,70,69.7,69.9,69.9,73,74.3,75.3,72.3,69.6,71.2,67.9
15,Denmark,84,84,54.3,61.6,69.8,69.8,73.9,79,71.5,70.1,70.4,64
16,Germany (until 1990 former territory of the FRG),73.5,72.7,71.8,71.3,71.8,71.4,69.3,70.7,69.9,68.5,63.2,68.1

In [19]:
df_packaging=drop_rows_with_nan(df_packaging)
df_packaging.head()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
9,European Union - 27 countries (from 2020),62.6,64,64.2,65.2,65.4,66.5,66.6,67.6,67.5,65.6,64.6,64
12,Belgium,79.1,79.8,80.2,80.3,78.7,81.3,81.5,81.9,83.8,85.3,83.5,79.7
14,Czechia,68.8,70,69.7,69.9,69.9,73,74.3,75.3,72.3,69.6,71.2,67.9
15,Denmark,84,84,54.3,61.6,69.8,69.8,73.9,79,71.5,70.1,70.4,64
16,Germany (until 1990 former territory of the FRG),73.5,72.7,71.8,71.3,71.8,71.4,69.3,70.7,69.9,68.5,63.2,68.1

In [20]:
df_cardboard_paper = rename_columns_and_drop_rows(df_cardboard_paper)
df_cardboard_paper.sample()

,TIME,2009,NaN,2010,NaN,2011,NaN,2012,NaN,2013,...,2016,NaN,2017,NaN,2018,NaN,2019,NaN,2020,NaN
44,Montenegro,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN

In [21]:
df_cardboard_paper = drop_columns_without_name(df_cardboard_paper)
df_cardboard_paper.sample()

,TIME,2009,2010,2011,2012,2013,NaN,2014,NaN,2015,NaN,2016,NaN,2017,NaN,2018,2019,2020
21,France,85.6,91.9,88,91.8,95.8,NaN,94.1,NaN,92,NaN,93.9,NaN,98.4,NaN,92.1,91.4,82.2

In [22]:
df_cardboard_paper = drop_columns_without_name(df_cardboard_paper)
df_cardboard_paper.sample()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
39,Iceland,:,65.3,76.5,62.9,71.6,76,83.9,83.1,83.7,92.9,87.2,99.5

In [23]:
df_cardboard_paper=drop_rows_with_colon(df_cardboard_paper)
df_cardboard_paper.sample()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
33,Portugal,79.5,67,71.3,66.1,73.4,69.1,62.2,70.1,66.9,66.8,71,66

In [24]:
df_cardboard_paper=drop_rows_with_nan(df_cardboard_paper)
df_cardboard_paper.head()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
9,European Union - 27 countries (from 2020),83.3,83.8,82.7,83.5,84,84.1,83.9,85.4,85.4,84.2,82.1,81.5
12,Belgium,88,89.8,90.4,89.8,89.1,90.6,90.7,89.4,92.9,95.6,92.3,89.4
14,Czechia,93.9,93.5,90.5,85.9,87.6,88.6,90.1,93.7,90.2,85.6,88.2,87.5
15,Denmark,93.5,93.5,63.8,76.5,85.4,91.8,95.3,97.7,81.9,99.7,99.7,69.3
16,Germany (until 1990 former territory of the FRG),91.1,90.2,88,87.6,88.2,87.3,85.7,88.7,87.6,86.8,80.6,84.2

In [25]:
df_plastic = rename_columns_and_drop_rows(df_plastic)
df_plastic.head()

,TIME,2009,NaN,2010,NaN,2011,NaN,2012,NaN,2013,...,2016,NaN,2017,NaN,2018,NaN,2019,NaN,2020,NaN
9,European Union - 27 countries (from 2020),33.5,s,34.1,s,35.6,s,37,NaN,37.5,...,42.4,NaN,41.7,NaN,41.4,NaN,41.1,NaN,37.6,s
10,Euro area â€“ 20 countries (from 2023),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
11,Euro area - 19 countries (2015-2022),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
12,Belgium,43,NaN,41.5,NaN,41.4,NaN,41.5,NaN,39,...,43.4,NaN,44.5,NaN,42.4,NaN,47.3,NaN,44.7,NaN
13,Bulgaria,30,NaN,40.9,NaN,39.2,NaN,40.7,NaN,41.3,...,52.6,NaN,64.8,NaN,59.2,NaN,50.6,NaN,:,NaN

In [26]:
df_plastic = drop_columns_without_name(df_plastic)
df_plastic.head()

,TIME,2009,2010,2011,2012,NaN,2013,NaN,2014,NaN,2015,NaN,2016,NaN,2017,NaN,2018,2019,2020
9,European Union - 27 countries (from 2020),33.5,34.1,35.6,37,NaN,37.5,NaN,39,NaN,40.5,NaN,42.4,NaN,41.7,NaN,41.4,41.1,37.6
10,Euro area â€“ 20 countries (from 2023),:,:,:,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:,:,:
11,Euro area - 19 countries (2015-2022),:,:,:,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:,:,:
12,Belgium,43,41.5,41.4,41.5,NaN,39,NaN,41.8,NaN,42.6,NaN,43.4,NaN,44.5,NaN,42.4,47.3,44.7
13,Bulgaria,30,40.9,39.2,40.7,NaN,41.3,NaN,64.1,NaN,60.8,NaN,52.6,NaN,64.8,NaN,59.2,50.6,:

In [27]:
df_plastic = drop_columns_without_name(df_plastic)
df_plastic.head()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
9,European Union - 27 countries (from 2020),33.5,34.1,35.6,37,37.5,39,40.5,42.4,41.7,41.4,41.1,37.6
10,Euro area â€“ 20 countries (from 2023),:,:,:,:,:,:,:,:,:,:,:,:
11,Euro area - 19 countries (2015-2022),:,:,:,:,:,:,:,:,:,:,:,:
12,Belgium,43,41.5,41.4,41.5,39,41.8,42.6,43.4,44.5,42.4,47.3,44.7
13,Bulgaria,30,40.9,39.2,40.7,41.3,64.1,60.8,52.6,64.8,59.2,50.6,:

In [28]:
df_plastic = drop_columns_without_name(df_plastic)

In [29]:
df_plastic=drop_rows_with_colon(df_plastic)

In [30]:
df_plastic=drop_rows_with_nan(df_plastic)
df_plastic.head()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
9,European Union - 27 countries (from 2020),33.5,34.1,35.6,37,37.5,39,40.5,42.4,41.7,41.4,41.1,37.6
12,Belgium,43,41.5,41.4,41.5,39,41.8,42.6,43.4,44.5,42.4,47.3,44.7
14,Czechia,52.5,54,57,58.2,59.7,58.2,61.7,59.2,58.6,57,61,41.8
15,Denmark,26.4,26.4,22.3,25.9,29.1,30.7,30.5,36.1,41.8,31.3,37.4,22.9
16,Germany (until 1990 former territory of the FRG),46.5,45.1,46.3,47,46.8,47.3,47.4,48.4,48,46.4,43.3,46.2

In [31]:
df_glass = rename_columns_and_drop_rows(df_glass)
df_glass = drop_columns_without_name(df_glass)
df_glass = drop_columns_without_name(df_glass)
df_glass=drop_rows_with_colon(df_glass)
df_glass=drop_rows_with_nan(df_glass)
df_glass.head()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
9,European Union - 27 countries (from 2020),68.8,71.2,72.3,73.1,73.4,75.3,74.2,75.3,75.8,75.8,75.6,75.9
12,Belgium,100,100,100,100,100,100,100,100,100,100,100,96.9
14,Czechia,71.2,73.1,74.4,81.1,75,71.6,72.6,72.8,72.3,74.8,76.4,83.6
15,Denmark,174.2,174.2,85.9,93.6,93,83.6,79.5,85,94.9,82.4,71.1,84.3
16,Germany (until 1990 former territory of the FRG),82.5,86.1,88.4,84.7,88.7,89,85.2,85.5,84.4,83,78,79.7

In [32]:
def add_column_with_value(df, column_name, value):
    df[column_name] = value
    return df

In [34]:
df_glass=add_column_with_value(df_glass,'Material','Cristal')

In [35]:
df_cardboard_paper=add_column_with_value(df_cardboard_paper,'Material','Papel-cartÃ³n')
df_packaging=add_column_with_value(df_packaging,'Material','Packaging')
df_plastic=add_column_with_value(df_plastic,'Material','Plastic')

In [36]:
final_df_europe=concat_dataframes(df_cardboard_paper,df_packaging,df_plastic,df_glass)
final_df_europe.head()

,TIME,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Material
9,European Union - 27 countries (from 2020),83.3,83.8,82.7,83.5,84,84.1,83.9,85.4,85.4,84.2,82.1,81.5,Papel-cartÃ³n
12,Belgium,88,89.8,90.4,89.8,89.1,90.6,90.7,89.4,92.9,95.6,92.3,89.4,Papel-cartÃ³n
14,Czechia,93.9,93.5,90.5,85.9,87.6,88.6,90.1,93.7,90.2,85.6,88.2,87.5,Papel-cartÃ³n
15,Denmark,93.5,93.5,63.8,76.5,85.4,91.8,95.3,97.7,81.9,99.7,99.7,69.3,Papel-cartÃ³n
16,Germany (until 1990 former territory of the FRG),91.1,90.2,88,87.6,88.2,87.3,85.7,88.7,87.6,86.8,80.6,84.2,Papel-cartÃ³n

In [37]:
final_df_europe['Material'].unique()

array(['Papel-cartÃ³n', 'Packaging', 'Plastic', 'Cristal'], dtype=object)

In [38]:
final_df_europe.to_excel('datasets/final_df_europe.xlsx', index=True)

# Spain- Collected waste

In [66]:
excel_file = pd.ExcelFile('datasets/Recogida-2021.xlsx')

In [67]:
sheet_names = excel_file.sheet_names
dfs={}
for sheet_name in sheet_names:
    df=excel_file.parse(sheet_name)
    dfs[sheet_name]=df

In [68]:
collected_yellow_bin = dfs['BBDD Amarillo']
collected_blue_bin = dfs['BBDD Azul']
SP_bins = dfs['Contenedores']

In [69]:
collected_yellow_bin['KG RECOGIDOS'].unique()

array([2649074.,  310230.,   70260., ...,  308360.,   20440.,  589310.])

In [70]:
collected_blue_bin.dtypes

AÃ‘O                    int64
CCAA                  object
UNIDAD DE GESTIÃ“N     object
UG CODIGO             object
Kg Recogidos         float64
NÂº Habitantes        float64
dtype: object

In [72]:
print(type(collected_blue_bin))

<class 'pandas.core.frame.DataFrame'>

In [73]:
def convert_INT(df, columns):
    df[columns] = df[columns].astype('int64')
    return df

In [74]:
collected_yellow_bin=convert_INT(collected_yellow_bin,['KG RECOGIDOS','HABITANTES'])

In [40]:
collected_yellow_bin.head()

,AÃ‘O,CCAA,UNIDAD DE GESTIÃ“N (UG),UG CODIGO,KG RECOGIDOS,HABITANTES
0,1998,ANDALUCÃA,EPREMASA (DiputaciÃ³n de CÃ³rdoba),UG1,2649074,189109
1,1998,ANDALUCÃA,IMUCONA,UG370,310230,49152
2,1998,ASTURIAS,Consorcio Residuos de Asturias,UG723,70260,250981
3,1998,CATALUÃ‘A,Unidad de GestiÃ³n GenÃ©rica para CataluÃ±a,UG1541,6220,358403
4,1998,GALICIA,Experiencia piloto,UG1577,97260,109220

In [75]:
print(type(collected_yellow_bin))

<class 'pandas.core.frame.DataFrame'>

In [77]:
collected_blue_bin=convert_INT(collected_blue_bin,['Kg Recogidos','NÂº Habitantes'])
collected_blue_bin.head()

,AÃ‘O,CCAA,UNIDAD DE GESTIÃ“N,UG CODIGO,Kg Recogidos,NÂº Habitantes
0,1998,ANDALUCÃA,NaN,NaN,4228512,600847
1,1998,ASTURIAS,NaN,NaN,4852620,721222
2,1998,BALEARES,NaN,NaN,4129149,317212
3,1998,CASTILLA-LA MANCHA,NaN,NaN,568580,107089
4,1998,CATALUÃ‘A,NaN,NaN,4362720,4096080

In [78]:
def new_column(df, column_name, column_value):
    df[column_name] = column_value
    return df

In [79]:
collected_blue_bin = new_column(collected_blue_bin, 'CONTENEDOR', 'Azul')
collected_yellow_bin = new_column(collected_yellow_bin, 'CONTENEDOR', 'Amarillo')
collected_yellow_bin.head()

,AÃ‘O,CCAA,UNIDAD DE GESTIÃ“N (UG),UG CODIGO,KG RECOGIDOS,HABITANTES,CONTENEDOR
0,1998,ANDALUCÃA,EPREMASA (DiputaciÃ³n de CÃ³rdoba),UG1,2649074,189109,Amarillo
1,1998,ANDALUCÃA,IMUCONA,UG370,310230,49152,Amarillo
2,1998,ASTURIAS,Consorcio Residuos de Asturias,UG723,70260,250981,Amarillo
3,1998,CATALUÃ‘A,Unidad de GestiÃ³n GenÃ©rica para CataluÃ±a,UG1541,6220,358403,Amarillo
4,1998,GALICIA,Experiencia piloto,UG1577,97260,109220,Amarillo

In [81]:
print(type(collected_blue_bin))

<class 'pandas.core.frame.DataFrame'>

In [83]:
new_names = {'Kg Recogidos': 'KG RECOGIDOS', 'NÂº Habitantes': 'HABITANTES'}
collected_blue_bin = rename_columns(collected_blue_bin, new_names)
collected_blue_bin.head()

,AÃ‘O,CCAA,UNIDAD DE GESTIÃ“N,UG CODIGO,KG RECOGIDOS,HABITANTES,CONTENEDOR
0,1998,ANDALUCÃA,NaN,NaN,4228512,600847,Azul
1,1998,ASTURIAS,NaN,NaN,4852620,721222,Azul
2,1998,BALEARES,NaN,NaN,4129149,317212,Azul
3,1998,CASTILLA-LA MANCHA,NaN,NaN,568580,107089,Azul
4,1998,CATALUÃ‘A,NaN,NaN,4362720,4096080,Azul

In [85]:
new_names3 = {'UNIDAD DE GESTIÃ“N (UG)': 'UNIDAD DE GESTIÃ“N'}
collected_yellow_bin = rename_columns(collected_yellow_bin, new_names3)
collected_yellow_bin.head()

,AÃ‘O,CCAA,UNIDAD DE GESTIÃ“N,UG CODIGO,KG RECOGIDOS,HABITANTES,CONTENEDOR
0,1998,ANDALUCÃA,EPREMASA (DiputaciÃ³n de CÃ³rdoba),UG1,2649074,189109,Amarillo
1,1998,ANDALUCÃA,IMUCONA,UG370,310230,49152,Amarillo
2,1998,ASTURIAS,Consorcio Residuos de Asturias,UG723,70260,250981,Amarillo
3,1998,CATALUÃ‘A,Unidad de GestiÃ³n GenÃ©rica para CataluÃ±a,UG1541,6220,358403,Amarillo
4,1998,GALICIA,Experiencia piloto,UG1577,97260,109220,Amarillo

In [86]:
final_collected=concat_dataframes(collected_blue_bin,collected_yellow_bin)
final_collected

,AÃ‘O,CCAA,UNIDAD DE GESTIÃ“N,UG CODIGO,KG RECOGIDOS,HABITANTES,CONTENEDOR
0,1998,ANDALUCÃA,NaN,NaN,4228512,600847,Azul
1,1998,ASTURIAS,NaN,NaN,4852620,721222,Azul
2,1998,BALEARES,NaN,NaN,4129149,317212,Azul
3,1998,CASTILLA-LA MANCHA,NaN,NaN,568580,107089,Azul
4,1998,CATALUÃ‘A,NaN,NaN,4362720,4096080,Azul
...,...,...,...,...,...,...,...
20872,2021,REGION DE MURCIA,Ayuntamiento de Torre-Pacheco,UG1222,702100,36464,Amarillo
20873,2021,REGION DE MURCIA,Ayuntamiento de Totana,UG1212,308360,32529,Amarillo
20874,2021,REGION DE MURCIA,Ayuntamiento de Ulea,UG1762,7023,849,Amarillo
20875,2021,REGION DE MURCIA,Ayuntamiento de Villanueva del Rio Segura,UG1761,20440,3111,Amarillo
20876,2021,REGION DE MURCIA,Ayuntamiento de Yecla,UG1226,589310,34834,Amarillo

In [87]:
print(type(final_collected))

<class 'pandas.core.frame.DataFrame'>

In [88]:
def drop_columns(df, columns_to_drop):
    df = df.drop(columns=columns_to_drop)
    return df

In [89]:
final_collected=drop_columns(final_collected,['UNIDAD DE GESTIÃ“N','UG CODIGO'])

In [90]:
final_collected

        AÃ‘O                CCAA  KG RECOGIDOS  HABITANTES CONTENEDOR
0      1998           ANDALUCÃA       4228512      600847       Azul
1      1998            ASTURIAS       4852620      721222       Azul
2      1998            BALEARES       4129149      317212       Azul
3      1998  CASTILLA-LA MANCHA        568580      107089       Azul
4      1998            CATALUÃ‘A       4362720     4096080       Azul
...     ...                 ...           ...         ...        ...
20872  2021    REGION DE MURCIA        702100       36464   Amarillo
20873  2021    REGION DE MURCIA        308360       32529   Amarillo
20874  2021    REGION DE MURCIA          7023         849   Amarillo
20875  2021    REGION DE MURCIA         20440        3111   Amarillo
20876  2021    REGION DE MURCIA        589310       34834   Amarillo

[36192 rows x 5 columns]

In [91]:
print(type(final_collected))

<class 'pandas.core.frame.DataFrame'>

In [93]:
def count_null_values(df):
    null_counts = df.isnull().sum()
    return null_counts

In [94]:
final_collected=count_null_values(final_collected)
final_collected

AÃ‘O             0
CCAA            0
KG RECOGIDOS    0
HABITANTES      0
CONTENEDOR      0
dtype: int64

In [95]:
print(type(final_collected))

<class 'pandas.core.series.Series'>

In [96]:
final_collected.to_excel('datasets/final_collected_spain.xlsx', index=True)

In [58]:
SP_bins=convert_INT(SP_bins,['Amarrillos','Azules'])
SP_bins

     AÃ‘O  Amarrillos  Azules
0   2005      268686  115427
1   2006      285152  128000
2   2007      296612  140774
3   2008      311485  152001
4   2009      324401  162848
5   2010      333779  172661
6   2011      340232  180377
7   2012      350427  185697
8   2013      352563  190564
9   2014      357486  195629
10  2015      366339  200618
11  2016      373272  204959
12  2017      378272  212852
13  2018      383974  217170
14  2019      390611  224945
15  2020      388174  229594
16  2021      383508  240297

In [68]:
SP_bins.to_excel('datasets/SP_bins.xlsx', index=True)

# Spain - Recycled

# Madrid - Socioeconomic

In [66]:
df_socio = pd.read_csv('datasets/panel_indicadores_distritos_barrios.csv', delimiter=';',encoding = 'latin-1')

In [67]:
df_socio

,Orden,Periodo panel,ciudad,cod_distrito,distrito,cod_barrio,barrio,aÃ±o,fecha_indicador,fuente_indicador,categorÃ­a_1,categorÃ­a_2,indicador_nivel1,indicador_nivel2,indicador_nivel3,unidad_indicador,indicador_completo,valor_indicador
0,1,2019,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,EstadÃ­stica Ayuntamiento de Madrid,CaracterÃ­sticas Generales del Distrito-Barrio,NaN,Superficie,NaN,NaN,Ha,Superficie (Ha.),60.446
1,2,2019,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,EstadÃ­stica Ayuntamiento de Madrid,CaracterÃ­sticas Generales del Distrito-Barrio,NaN,PoblaciÃ³n densidad de poblaciÃ³n,NaN,NaN,Habitantes/Ha.,PoblaciÃ³n densidad (hab./Ha.),54
2,3,2019,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,EstadÃ­stica Ayuntamiento de Madrid,PoblaciÃ³n del distrito,Estructura de poblaciÃ³n,NÃºmero de Habitantes,NaN,NaN,Habitantes,NÃºmero Habitantes,3.266.126
3,4,2019,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,EstadÃ­stica Ayuntamiento de Madrid,PoblaciÃ³n del distrito,Estructura de poblaciÃ³n,NÃºmero de Habitantes,Hombres,NaN,Habitantes,PoblaciÃ³n Hombres,1.521.178
4,5,2019,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,EstadÃ­stica Ayuntamiento de Madrid,PoblaciÃ³n del distrito,Estructura de poblaciÃ³n,NÃºmero de Habitantes,Mujeres,NaN,Habitantes,PoblaciÃ³n Mujeres,1.744.948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55508,55813,2020-21,Ciudad de Madrid,NaN,NaN,NaN,NaN,2020,2020,Estudio Impacto COVID-19. DG de InnovaciÃ³n y E...,SituaciÃ³n socioeconÃ³mica ante COVID-19,TipologÃ­a de hogares,Hogares formados por pareja sin hijos/as,Aumento ingresos hogar,NaN,Porcentaje,Hogares formados por pareja sin hijos/as. Les ...,"0,9"
55509,55814,2020-21,Ciudad de Madrid,NaN,NaN,NaN,NaN,2020,2020,Estudio Impacto COVID-19. DG de InnovaciÃ³n y E...,SituaciÃ³n socioeconÃ³mica ante COVID-19,TipologÃ­a de hogares,Hogares formados por pareja sin hijos/as,DisminuciÃ³n ingresos hogar,NaN,Porcentaje,Hogares formados por pareja sin hijos/as. Les ...,"30,6"
55510,55815,2020-21,Ciudad de Madrid,NaN,NaN,NaN,NaN,2020,2020,Estudio Impacto COVID-19. DG de InnovaciÃ³n y E...,SituaciÃ³n socioeconÃ³mica ante COVID-19,TipologÃ­a de hogares,Hogares formados por pareja con hijos/as,No les ha afectado la crisis,NaN,Porcentaje,Hogares formados por pareja con hijos/as. No l...,"53,5"
55511,55816,2020-21,Ciudad de Madrid,NaN,NaN,NaN,NaN,2020,2020,Estudio Impacto COVID-19. DG de InnovaciÃ³n y E...,SituaciÃ³n socioeconÃ³mica ante COVID-19,TipologÃ­a de hogares,Hogares formados por pareja con hijos/as,Aumento ingresos hogar,NaN,Porcentaje,Hogares formados por pareja con hijos/as. Les ...,"2,7"
55512,55817,2020-21,Ciudad de Madrid,NaN,NaN,NaN,NaN,2020,2020,Estudio Impacto COVID-19. DG de InnovaciÃ³n y E...,SituaciÃ³n socioeconÃ³mica ante COVID-19,TipologÃ­a de hogares,Hogares formados por pareja con hijos/as,DisminuciÃ³n ingresos hogar,NaN,Porcentaje,Hogares formados por pareja con hijos/as. Les ...,"42,5"

In [51]:
df_socio.columns

Index(['Orden', 'Periodo panel', 'ciudad', 'cod_distrito', 'distrito',
       'cod_barrio', 'barrio', 'aÃ±o', 'fecha_indicador', 'fuente_indicador',
       'categorÃ­a_1', 'categorÃ­a_2', 'indicador_nivel1', 'indicador_nivel2',
       'indicador_nivel3', 'unidad_indicador', 'indicador_completo',
       'valor_indicador'],
      dtype='object')

In [57]:
df_socio['distrito'].unique()

array([nan, 'Centro', 'Arganzuela', 'Retiro', 'Salamanca', 'ChamartÃ­n',
       'TetuÃ¡n', 'ChamberÃ­', 'Fuencarral-El Pardo', 'Moncloa-Aravaca',
       'Latina', 'Carabanchel', 'Usera', 'Puente de Vallecas',
       'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'Villaverde',
       'Villa de Vallecas', 'VicÃ¡lvaro', 'San Blas-Canillejas', 'Barajas'],
      dtype=object)

In [55]:
df_socio['fuente_indicador'].unique()

array(['EstadÃ­stica Ayuntamiento de Madrid',
       'Encuesta de poblaciÃ³n activa',
       'Encuesta de calidad de vida y satisfacciÃ³n con los Servicios PÃºblicos de Madrid 2019',
       'Estudio de Necesidades Sociales en  Hogares (2016)',
       'Consejo General del Poder Judicial',
       'Portal web del Ayuntamiento de Madrid',
       'Portal de datos abiertos del Ayuntamiento de Madrid',
       'Informe "Esperanza de vida en los barrios" Madrid Salud (pendiente de publicaciÃ³n)',
       'Madrid salud https://madridsalud.es/estudios-de-salud/',
       'Estudio Impacto COVID-19. DG de InnovaciÃ³n y Estrategia Social',
       'Ayuntamiento de Madrid: Servicio de planificaciÃ³n, coordinaciÃ³n e inspecciÃ³n catastral',
       'Portal web de la Comunidad de Madrid',
       'Informe Ãndice de envejecimiento activo de la ciudad de Madrid',
       'Encuesta de calidad de vida y satisfacciÃ³n con los Servicios PÃºblicos de Madrid 2022',
       'Ayuntamiento de Madrid: Departamento de gestiÃ³n y prestaciones en la atenciÃ³n social primaria',
       'Ayuntamiento de Madrid: Departamento de prevenciÃ³n del sinhogarismo y atenciÃ³n a personas sin hogar'],
      dtype=object)

In [58]:
df_socio['indicador_completo'].unique()

array(['Superficie (Ha.) ', 'PoblaciÃ³n densidad (hab./Ha.) ',
       'NÃºmero Habitantes', 'PoblaciÃ³n Hombres ', 'PoblaciÃ³n Mujeres',
       'Edad media de la poblaciÃ³n', 'PoblaciÃ³n de 0 a 14 aÃ±os   ',
       'PoblaciÃ³n de 15 a 29         ', 'PoblaciÃ³n de 30 a 44       ',
       'PoblaciÃ³n de 45 a 64       ', 'PoblaciÃ³n de 65 a 79       ',
       'PoblaciÃ³n de 80 aÃ±os y mÃ¡s           ',
       'PoblaciÃ³n de 65 aÃ±os y mÃ¡s          ',
       'PoblaciÃ³n en etapa educativa (PoblaciÃ³n de 3 a 16 aÃ±os -16 no incluidos)                            ',
       'ProporciÃ³n de juventud (PoblaciÃ³n de 0-15 aÃ±os/PoblaciÃ³n total) porcentaje',
       'ProporciÃ³n de envejecimiento (PoblaciÃ³n mayor de 65 aÃ±os/PoblaciÃ³n total)',
       'ProporciÃ³n de sobre-envejecimiento (PoblaciÃ³n mayor de 80 aÃ±os/ PoblaciÃ³n mayor de 65 aÃ±os)',
       'Ãndice de dependencia (PoblaciÃ³n de 0-15 + poblaciÃ³n 65 aÃ±os y mÃ¡s / Pob. 16-64) ',
       'Personas con nacionalidad espaÃ±ola             ',
       'Personas con nacionalidad espaÃ±ola Hombres                      ',
       'Personas con nacionalidad espaÃ±ola Mujeres                      ',
       'Personas con nacionalidad extranjera            ',
       'Personas con nacionalidad extranjera Hombres                       ',
       'Personas con nacionalidad extranjera Mujeres                        ',
       'ProporciÃ³n de personas migrantes (PoblaciÃ³n extranjera menos UE y resto paÃ­ses de OCDE / PoblaciÃ³n total)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nITALIA (PoblaciÃ³n total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nBANGLADESH (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nCHINA (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nVENEZUELA (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nRUMANÃA (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nBOLIVIA (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nECUADOR (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nFILIPINAS (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nFRANCIA (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nMARRUECOS (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nPARAGUAY (PoblaciÃ³n total Distrito) ',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nPERÃš (PoblaciÃ³n total Distrito) ',
       'Total hogares', 'TamaÃ±o medio del hogar      ',
       'Hogares con una mujer sola mayor de 65 aÃ±os                      ',
       'Hogares con un hombre solo mayor de 65 aÃ±os                     ',
       'Hogares monoparentales: una mujer adulta con uno o mÃ¡s menores',
       'Hogares monoparentales: un hombre adulto con uno o mÃ¡s menores',
       'Tasa de crecimiento demogrÃ¡fico (porcentaje)',
       'Esperanza de vida al nacer Mujeres (mortalidad del periodo 2013-2016)',
       'Esperanza de vida al nacer Hombres  (mortalidad del periodo 2013-2016)',
       'Esperanza de vida al nacer Mujeres',
       'Esperanza de vida al nacer Hombres ',
       'Esperanza de vida mayor de 65 aÃ±os Mujeres',
       'Esperanza de vida mayor de 65 aÃ±os Hombres',
       'Ãndice de desigualdad de gÃ©nero (2018)',
       'Ãndice de desigualdad de gÃ©nero (2008)',
       'Renta neta media anual de los hogares (Urban Audit)             ',
       'Renta disponible Bruta Per cÃ¡pita 2016(a)',
       'Crecimiento/decrecimiento Renta Bruta Per cÃ¡pita 2016(a)-2008',
       'PensiÃ³n media mensual Hombres ',
       'PensiÃ³n media mensual  Mujeres\n',
       'Tasa de actividad global ciudad de Madrid',
       'Tasa de actividad global en Hombres ',
       'Tasa de actividad global en Mujeres',
       'NÃºmero de personas paradas en ciudad de Madrid',
       'NÃºmero de personas paradas en ciudad de Madrid Hombres',
       'NÃºmero de personas paradas en ciudad de Madrid Mujeres',
       'Paro registrado (nÃºmero de personas registradas en SEPE en Febrero 2020)       ',
       'Paro registrado (nÃºmero de personas registradas en SEPE en Febrero 2020)   Hombres    ',
       'Paro registrado (nÃºmero de personas registradas en SEPE en Febrero 2020)       Mujeres',
       'Tasa absoluta de paro registrado            (Febrero  2020)',
       'Tasa absoluta de paro registrado Mujeres',
       'Tasa de desempleo en mujeres de 16 a 24 aÃ±os',
       'Tasa de desempleo en mujeres de 25 a 44 aÃ±os',
       'Tasa de desempleo en mujeres de 45 a 64 aÃ±os',
       'Tasa absoluta de paro registrado Hombres ',
       'Tasa de desempleo en hombres de 16 a 24 aÃ±os',
       'Tasa de desempleo en hombres de 25 a 44 aÃ±os',
       'Tasa de desempleo en hombres de 45 a 64 aÃ±os',
       'Personas paradas de larga duraciÃ³n                (febrero 2020)              ',
       'Personas paradas de larga duraciÃ³n                (febrero 2020)            Hombres                         ',
       'Personas paradas de larga duraciÃ³n                (febrero 2020)            Mujeres                            ',
       'Personas paradas que SÃ perciben prestaciones    (febrero 2020)           ',
       'Personas paradas que SÃ perciben prestaciones    (febrero 2020)     Hombres                         ',
       'Personas paradas que SÃ perciben prestaciones    (febrero 2020)     Mujeres                         ',
       'Personas paradas que NO perciben prestaciones (febrero 2020)',
       'Personas paradas que NO perciben prestaciones (febrero 2020) Hombres          ',
       'Personas paradas que NO perciben prestaciones (febrero 2020) Mujeres          ',
       'PoblaciÃ³n en etapas educativas',
       'PoblaciÃ³n en etapa educativa de 0 a 2 aÃ±os',
       'PoblaciÃ³n en etapa educativa de 3 a 5 aÃ±os',
       'PoblaciÃ³n en etapa educativa de 6 a 11 aÃ±os',
       'PoblaciÃ³n en etapa educativa de 12 a 15 aÃ±os',
       'Etapas educativas. Total niÃ±os',
       'PoblaciÃ³n infantil masculina en etapa educativa de 0 a 2 aÃ±os',
       'PoblaciÃ³n infantil masculina en etapa educativa de 3 a 5 aÃ±os',
       'PoblaciÃ³n infantil masculina en etapa educativa de 6 a 11 aÃ±os',
       'PoblaciÃ³n infantil masculina en etapa educativa de 12 a 15 aÃ±os',
       'Etapas educativas. Total niÃ±as',
       'PoblaciÃ³n infantil femenina en etapa educativa de 0 a 2 aÃ±os',
       'PoblaciÃ³n infantil femenina en etapa educativa de 3 a 5 aÃ±os',
       'PoblaciÃ³n infantil femenina en etapa educativa de 6 a 11 aÃ±os',
       'PoblaciÃ³n infantil femenina en etapa educativa de 12 a 15 aÃ±os',
       'EscolarizaciÃ³n del alumnado por tipo de centro ',
       'Alumnado en Centros privados concertados',
       'Alumnado en Centros privados sin concierto',
       'Alumnado en Centros pÃºblicos', 'Total alumnado extranjero ',
       'Alumnado extranjero en Centros privados concertados                   ',
       'Alumnado extranjero en Centros privados sin concierto                  ',
       'Alumnado extranjero en Centros pÃºblicos                        ',
       'Alumnado con necesidades de apoyo educativo total',
       'Alumnado con necesidades de apoyo educativo en Centros privados concertados                   ',
       'Alumnado con necesidades de apoyo educativo en Centros privados sin concierto                  ',
       'Alumnado con necesidades de apoyo educativo en Centros pÃºblicos                        ',
       'No sabe leer ni escribir o sin estudios                         ',
       'Personas con enseÃ±anza primaria incompleta  ',
       'Personas con Bachiller Elemental, Graduado Escolar, ESO, FormaciÃ³n profesional 1Âº grado  ',
       'Personas con FormaciÃ³n profesional 2Âº grado, Bachiller Superior o BUP  ',
       'Titulaciones medias, diplomaturas, arquitectura tÃ©cnica o ingenierÃ­a tÃ©cnica',
       'PoblaciÃ³n mayor/igual  de 25 aÃ±os  con estudios superiores, licenciatura, arquitectura, ingenierÃ­a sup., estudios sup. no universitarios, doctorado,  postgraduado  ',
       'Nivel de estudios desconocido y no consta                                   ',
       'Casos trabajados por el programa de absentismo municipal',
       'Casos trabajados por el programa de absentismo municipal Hombres               ',
       'Casos trabajados por el programa de absentismo municipal Mujeres               ',
       'NÃºmero de personas con grado de discapacidad reconocido                               ',
       'NÃºmero de personas con grado de discapacidad reconocido Hombres                                    ',
       'NÃºmero de personas con grado de discapacidad reconocido Mujeres                                    ',
       'Mujeres por cada 100 hombres (FeminizaciÃ³n de la discapacidad reconocida)',
       'SatisfacciÃ³n de vivir en su barrio ',
       'Calidad de vida actual en su barrio ',
       'SatisfacciÃ³n de la convivencia vecinal ',
       'Grado de satisfacciÃ³n con la organizaciÃ³n de fiestas y eventos populares',
       'PercepciÃ³n de desigualdad en las dotaciones de los barrios   (sumando las categorÃ­as "muy alta" + "alta")',
       'Tres principales problemas en espacios pÃºblicos: 1ÂºLimpieza',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºContaminaciÃ³n del aire',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºTrÃ¡fico / atascos',
       'PercepciÃ³n de seguridad en Madrid',
       'PercepciÃ³n de seguridad en el barrio por el dÃ­a',
       'PercepciÃ³n de seguridad en el barrio por la noche',
       'Tres principales problemas en espacios pÃºblicos: 1ÂºPersonas orinando en la calle',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºExcrementos animales domÃ©sticos',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºConsumo o menudeo de drogas',
       'Tres principales problemas en espacios pÃºblicos: 1ÂºExcrementos animales domÃ©sticos',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºConductas que ponen en riesgo la seguridad vial',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºPersonas orinando en la calle',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºExceso de velocidad',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºRobos, atracos y hurtos',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºConductas que ponen en riesgo la seguridad vial',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºPersonas orinando en la calle',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºMolsetias por ruido',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºBotellÃ³n',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºGrafitis',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºGrafitis',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºRobos, atracos y hurtos',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºConsumo o menudeo de drogas',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºEstacionamientos indebidos',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºEstacionamientos indebidos',
       'Tres principales problemas en espacios pÃºblicos: 3ÂºUso indebido de parques y espacios pÃºblicos',
       'Tres principales problemas en espacios pÃºblicos: 2ÂºExceso de velocidad',
       'Preferencia de contacto con el Ayuntamiento: EN PERSONA',
       'PercepciÃ³n sobre la administraciÃ³n del Ayto. en los Ãºltimos 5 aÃ±os: HA MEJORADO',
       'PercepciÃ³n sobre la administraciÃ³n del Ayto. en los Ãºltimos 5 aÃ±os: HA EMPEORADO',
       'Tasa de riesgo de pobreza o exclusiÃ³n social',
       'Tasa de riesgo de pobreza o exclusiÃ³n social Hombres',
       'Tasa de riesgo de pobreza o exclusiÃ³n social Mujeres',
       'Tasa de riesgo de pobreza o exclusiÃ³n social N. ESPAÃ‘OLA (mayor de16 aÃ±os)',
       'Tasa de riesgo de pobreza o exclusiÃ³n social N. EXTRANJERA UNIÃ“N EUROPEA        (mayor de16 aÃ±os)',
       'Tasa de riesgo de pobreza o exclusiÃ³n social N. EXTRANJERA RESTO DEL MUNDO (mayor de16 aÃ±os)',
       'Hogar formado por madre con hijos a cargo',
       'Tasa de riesgo de pobreza para poblaciÃ³n que ha nacido en EspaÃ±a',
       'Tasa de riesgo de pobreza para poblaciÃ³n que ha nacido en un paÃ­s fuera de la UniÃ³n Europea',
       'Dificultad para hacer frente a los gastos derivados del suministro energÃ©tico',
       'Personas atendidas en la Unidad de Primera AtenciÃ³n en Centros de Servicios Sociales          ',
       'Solicitudes tramitadas de Renta MÃ­nima de InserciÃ³n',
       'Perceptores de prestaciÃ³n de la Renta MÃ­nima de InserciÃ³n',
       'Personas beneficiarias de prestaciones sociales de carÃ¡cter econÃ³mico',
       'Total prestaciones sociales de carÃ¡cter econÃ³mico ',
       'Personas con Servicio de Ayuda a Domicilio (modalidad auxiliar de hogar)  ',
       'Personas con Servicio de Ayuda a Domicilio (modalidad auxiliar de hogar) Hombres                                 ',
       'Personas con Servicio de Ayuda a Domicilio (modalidad auxiliar de hogar) Mujeres                              ',
       'Personas socias de los Centros Municipales de Mayores',
       'Personas socias de los Centros Municipales de Mayores Hombres                      ',
       'Personas socias de los Centros Municipales de Mayores Mujeres             ',
       'Familias atendidas por el Equipo de Trabajo con Menores y Familia (ETMF) ',
       'Demandas de intervenciÃ³n en los Centros de AtenciÃ³n a la Infancia (CAI)',
       'Menores atendidos por el Servicio de Ayuda a domicilio a Menores y Familias (SAD)',
       'NÃºmero Total de viviendas (Censo Edificios y Viviendas 2011)',
       'Viviendas anteriores a 1980                                                                 ',
       'Viviendas en estado ruinoso', 'Viviendas en estado malo ',
       'Viviendas en estado deficiente  ', 'Viviendas en estado bueno ',
       'Estado de la vivienda no costa ',
       'Valor catastral medio de los bienes inmuebles: personas fÃ­sicas en miles de \x80 ',
       'Valor catastral medio de los bienes inmuebles: personas jurÃ­dicas en miles de \x80',
       'Superficie media de la vivienda (m2) en transacciÃ³n                    ',
       'DuraciÃ³n media del crÃ©dito (meses) en transacciÃ³n de vivienda ',
       'NÃºmero Total de viviendas familiares (Censo Edificios y Viviendas 2011) ',
       'NÃºmero Total de viviendas familiares (Censo Edificios y Viviendas 2011) Principal                           ',
       'NÃºmero Total de viviendas familiares (Censo Edificios y Viviendas 2011)  Secundaria                           ',
       'NÃºmero Total de viviendas familiares (Censo Edificios y Viviendas 2011)  PoblaciÃ³n desocupada    ',
       'Lanzamientos judiciales practicados (2013)',
       'Lanzamientos judiciales como consecuencia de ejecuciones hipotecarias (2013)',
       'Lanzamientos judiciales consecuencia de la Ley de Arrendamientos Urbanos (2013)',
       'Lanzamientos judiciales practicados ',
       'Lanzamientos judiciales como consecuencia de ejecuciones hipotecarias ',
       'Lanzamientos judiciales consecuencia de la Ley de Arrendamientos Urbanos ',
       'PartÃ­culas suspensiÃ³n PM2.5 (Âµgr/m3) -Valor lÃ­mite: 25 Âµgr/m3-',
       'PartÃ­culas suspensiÃ³n PM10 (Âµgr/m3) -Valor lÃ­mite: 40 Âµgr/m3-',
       'DiÃ³xido de azufre - SO2 (Âµgr/m3) -Valor lÃ­mite: 125 Âµgr/m3-',
       'MonÃ³xido de carbono - CO  (mg/m3) -Valor lÃ­mite: 10 Âµgr/m3-',
       'Ozono - O3 (Âµgr/m3) -Valor lÃ­mite: 120 Âµgr/m3-',
       'DiÃ³xido de nitrÃ³geno - NO2 (Âµgr/m3) -Valor lÃ­mite: 40 Âµgr/m3-',
       'Temperatura media anual (ÂºC)',
       'Protocolo de contaminaciÃ³n: nÃºmero de episodios ',
       'Protocolo de contaminaciÃ³n: nÃºmero de dÃ­as "Escenario 1" ',
       'Recogida domiciliaria residuos sÃ³lidos: envases y resto kg/habitante/aÃ±o',
       'Recogida domiciliaria residuos sÃ³lidos: envases y resto kg/habitante/dÃ­a',
       'Intervenciones de la PolicÃ­a Municipal en materia de seguridad: delitos relacionados con las personas',
       'Intervenciones de la PolicÃ­a Municipal en materia de seguridad: relacionadas con la tenencia de armas',
       'Intervenciones de la PolicÃ­a Municipal en materia de seguridad: relacionadas con el patrimonio',
       'Intervenciones de la PolicÃ­a Municipal en materia de seguridad: relacionadas con la tenencia y consumo de drogas',
       'Expedientes instruidos por Agentes Tutores',
       'Atestados/partes de accidentes de trÃ¡fico confeccionados',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal en materia de seguridad: Total  personas detenidas e investigadas ',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal  en materia de seguridad: Lesiones',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal  en materia de seguridad: Violencia domÃ©stica y de gÃ©nero',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal  en materia de seguridad: Malos tratos a menores',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal  en materia de seguridad: Abusos y agresiones sexuales ',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal  en materia de seguridad: Hurtos',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal  en materia de seguridad: Robo con violencia e intimidaciÃ³n en personas',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal  en materia de seguridad: Contra la salud pÃºblica  ',
       'Personas detenidas e investigadas por la PolicÃ­a Municipal  en materia de seguridad: Contra la seguridad vial  ',
       'Elecciones Municipales 2019: Censo electoral',
       'Abstenciones en elecciones municipales de 2019',
       'Votos en blanco en elecciones municipales de 2019',
       'Votos a candidaturas',
       'Votos a MÃ¡s Madrid en elecciones municipales de 2019',
       'Votos a PP en elecciones municipales de 2019',
       'Votos a Ciudadanos en elecciones municipales de 2019',
       'Votos a PSOE en elecciones municipales de 2019 ',
       'Votos a VOX en elecciones municipales de 2019',
       'Centros de Servicios Sociales', 'Centros Municipales de Mayores ',
       'Centros de DÃ­a de Alzheimer y FÃ­sicos',
       'Apartamentos Municipales para Mayores',
       'Residencias para personas Mayores ',
       'Centros de Apoyo a las Familias (CAF)',
       'Centros de AtenciÃ³n a la Infancia (CAI)',
       'Centro de DÃ­a de AtenciÃ³n a NiÃ±os y NiÃ±as (de 3 a 12 aÃ±os)',
       'Espacios de Ocio para Adolescentes (El Enredadero)',
       'Centros de Adolescentes y JÃ³venes (ASPA) ',
       'Centros para personas sin hogar ', 'Espacios de Igualdad ',
       'Centros Municipales de Salud Comunitaria (CMSC)',
       'Centros de AtenciÃ³n a las Adicciones (CAD y CCAD)',
       'Bibliotecas Municipales', 'Bibliotecas Comunidad Madrid',
       'Centros y Espacios Culturales', 'Centros deportivos Municipales',
       'Superficie deportiva m2 ', 'Instalaciones deportivas bÃ¡sicas',
       'Instalaciones deportivas de acceso controlado ',
       'Campos de fÃºtbol 11', 'Pista de atletismo ', 'Piscinas cubiertas',
       'Piscinas de verano',
       'Superficie de zonas verdes y Parques de distrito (ha)',
       'RelaciÃ³n de Superficie de zonas verdes y Parques de distrito (ha) entre nÃºmero de Habitantes *10.000',
       'Superficie de Parques HistÃ³ricos, Singulares y Forestales por distrito  ',
       'Superficie de Parques HistÃ³ricos, Singulares y Forestales por distrito  entre nÃºmero de Habitantes *10.000',
       'Escuelas Infantiles Municipales', 'Escuelas Infantiles PÃºblicas ',

# Madrid - data - Collected waste

In [60]:
df_MA_22 = pd.read_excel('datasets/Modelo_Residuos_2022.xlsx')
df_MA_22

,AÃ±o,Mes,Lote,FracciÃ³n,Distrito,NOMBRE,Total
0,2022,enero,1,PAPEL-CARTON,1,Centro,395.860
1,2022,enero,1,PAPEL-CARTON,6,TetuÃ¡n,381.980
2,2022,enero,1,PAPEL-CARTON,7,ChamberÃ­,312.760
3,2022,enero,1,PAPEL-CARTON,8,Fuencarral - El Pardo,692.250
4,2022,enero,1,PAPEL-CARTON,9,Moncloa - Aravaca,300.380
...,...,...,...,...,...,...,...
2189,2022,diciembre,3,ROPA,11,Carabanchel,1.335
2190,2022,diciembre,3,ROPA,12,Usera,3.895
2191,2022,diciembre,3,ROPA,13,Puente de Vallecas,2.965
2192,2022,diciembre,3,ROPA,17,Villaverde,2.015
2193,2022,diciembre,3,ROPA,18,Villa de Vallecas,1.410

In [61]:
df_MA_22['NOMBRE'].unique()

array(['Centro', 'TetuÃ¡n', 'ChamberÃ­', 'Fuencarral - El Pardo',
       'Moncloa - Aravaca', 'Latina', 'Retiro', 'Salamanca', 'ChamartÃ­n',
       'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'VicÃ¡lvaro',
       'San Blas - Canillejas', 'Barajas', 'Arganzuela', 'Carabanchel',
       'Usera', 'Puente de Vallecas', 'Villaverde', 'Villa de Vallecas',
       'Sin Distrito'], dtype=object)

In [62]:
df_MA_22['NOMBRE'].value_counts()['Sin Distrito']

19

In [63]:
df_MA_22['NOMBRE'].value_counts()

NOMBRE
Moncloa - Aravaca        127
Puente de Vallecas       118
Fuencarral - El Pardo    112
Latina                   112
Centro                   110
Retiro                   110
Salamanca                110
Ciudad Lineal            110
Usera                    109
TetuÃ¡n                   100
Moratalaz                100
Hortaleza                 99
VicÃ¡lvaro                 98
San Blas - Canillejas     98
Barajas                   98
Arganzuela                98
ChamartÃ­n                 98
Villaverde                98
Carabanchel               97
Villa de Vallecas         87
ChamberÃ­                  86
Sin Distrito              19
Name: count, dtype: int64

In [64]:
df_MA_22['FracciÃ³n'].unique()

array(['PAPEL-CARTON', 'CARTON COMERCIAL', 'CAMA DE CABALLO', 'CLINICOS',
       'ENVASES', 'ORGANICA', 'PUNTOS LIMPIOS', 'RCD', 'RESTO', 'VIDRIO',
       'VIDRIO COMERCIAL', 'CONTENEDORES DE ROPA', 'ANIMALES MUERTOS',
       'PILAS', 'ROPA'], dtype=object)

In [65]:
nulls=df_MA_22.isnull().any()
print(nulls)

AÃ±o         False
Mes         False
Lote        False
FracciÃ³n    False
Distrito    False
NOMBRE      False
Total       False
dtype: bool

In [66]:
df_MA_22.rename(columns={'NOMBRE': 'Nombre Distrito', 'Total': 'Toneladas'}, inplace=True)

In [67]:
df_MA_22[df_MA_22['Nombre Distrito'] == 'Sin Distrito']

,AÃ±o,Mes,Lote,FracciÃ³n,Distrito,Nombre Distrito,Toneladas
178,2022,enero,3,ANIMALES MUERTOS,99,Sin Distrito,6.300
359,2022,febrero,3,ANIMALES MUERTOS,99,Sin Distrito,7.960
360,2022,febrero,3,PILAS,99,Sin Distrito,2.190
540,2022,marzo,3,ANIMALES MUERTOS,99,Sin Distrito,10.500
541,2022,marzo,3,PILAS,99,Sin Distrito,6.270
722,2022,abril,3,ANIMALES MUERTOS,99,Sin Distrito,7.300
901,2022,mayo,3,ANIMALES MUERTOS,99,Sin Distrito,9.560
902,2022,mayo,3,PILAS,99,Sin Distrito,4.390
1081,2022,junio,3,ANIMALES MUERTOS,99,Sin Distrito,9.180
1082,2022,junio,3,PILAS,99,Sin Distrito,4.180
1260,2022,julio,3,ANIMALES MUERTOS,99,Sin Distrito,9.740
1261,2022,julio,3,PILAS,99,Sin Distrito,2.990
1440,2022,agosto,3,ANIMALES MUERTOS,99,Sin Distrito,6.600
1620,2022,septiembre,3,ANIMALES MUERTOS,99,Sin Distrito,7.460
1621,2022,septiembre,3,PILAS,99,Sin Distrito,4.210
1802,2022,octubre,3,ANIMALES MUERTOS,99,Sin Distrito,7.960
1988,2022,noviembre,3,RESTO,99,Sin Distrito,5.042
1995,2022,noviembre,3,ANIMALES MUERTOS,99,Sin Distrito,6.560
2187,2022,diciembre,3,ANIMALES MUERTOS,99,Sin Distrito,9.800

In [68]:
df_MA_21= pd.read_excel('datasets/Modelo_Residuos_2021.xlsx')
df_MA_21

,AÃ±o,Mes,Lote,Residuo,Distrito,Nombre Distrito,Toneladas
0,2021,enero,1,RESTO,1,Centro,3477.92
1,2021,enero,1,RESTO,6,TetuÃ¡n,2701.32
2,2021,enero,1,RESTO,7,ChamberÃ­,2403.34
3,2021,enero,1,RESTO,8,Fuencarral - El Pardo,4017.66
4,2021,enero,1,RESTO,9,Moncloa - Aravaca,2873.78
...,...,...,...,...,...,...,...
2133,2021,diciembre,3,PUNTOS LIMPIOS,13,Puente de Vallecas,23.80
2134,2021,diciembre,3,PUNTOS LIMPIOS,17,Villaverde,37.66
2135,2021,diciembre,3,PUNTOS LIMPIOS,18,Villa de Vallecas,63.66
2136,2021,diciembre,3,ANIMALES MUERTOS,99,Sin Distrito,8.62
2137,2021,diciembre,3,PILAS,99,Sin Distrito,6.48

In [69]:
df_MA_21.rename(columns={'Residuo': 'FracciÃ³n'}, inplace=True)
df_MA_21

,AÃ±o,Mes,Lote,FracciÃ³n,Distrito,Nombre Distrito,Toneladas
0,2021,enero,1,RESTO,1,Centro,3477.92
1,2021,enero,1,RESTO,6,TetuÃ¡n,2701.32
2,2021,enero,1,RESTO,7,ChamberÃ­,2403.34
3,2021,enero,1,RESTO,8,Fuencarral - El Pardo,4017.66
4,2021,enero,1,RESTO,9,Moncloa - Aravaca,2873.78
...,...,...,...,...,...,...,...
2133,2021,diciembre,3,PUNTOS LIMPIOS,13,Puente de Vallecas,23.80
2134,2021,diciembre,3,PUNTOS LIMPIOS,17,Villaverde,37.66
2135,2021,diciembre,3,PUNTOS LIMPIOS,18,Villa de Vallecas,63.66
2136,2021,diciembre,3,ANIMALES MUERTOS,99,Sin Distrito,8.62
2137,2021,diciembre,3,PILAS,99,Sin Distrito,6.48

In [70]:
df_MA_21_22=pd.concat([df_MA_22,df_MA_21], ignore_index=True)

In [71]:
df_MA_21_22['FracciÃ³n'].unique()

array(['PAPEL-CARTON', 'CARTON COMERCIAL', 'CAMA DE CABALLO', 'CLINICOS',
       'ENVASES', 'ORGANICA', 'PUNTOS LIMPIOS', 'RCD', 'RESTO', 'VIDRIO',
       'VIDRIO COMERCIAL', 'CONTENEDORES DE ROPA', 'ANIMALES MUERTOS',
       'PILAS', 'ROPA'], dtype=object)

In [72]:
df_MA_21_22.dtypes

AÃ±o                  int64
Mes                 object
Lote                 int64
FracciÃ³n            object
Distrito             int64
Nombre Distrito     object
Toneladas          float64
dtype: object

In [73]:
df_MA_20 = pd.read_excel('datasets/Modelo_Residuos_2020.xlsx')

In [74]:
df_MA_20['FRACCIÃ“N'].unique()

array(['RESTO', 'ENVASES', 'VIDRIO', 'CLINICOS', 'ORGÃNICA',
       'PUNTOS LIMPIOS', 'PILAS', 'ANIMALES MUERTOS', 'CARTÃ“N COMERCIAL',
       'PAPEL-CARTÃ“N', 'RCD', 'VIDRIO COMERCIAL',
       'CONTENEDORES ROPA USADA', 'RESIDUOS DEPOSITADOS MIGAS CALIENTES',
       nan, 'Papel Incautado PolicÃ­a', 'CartÃ³n limpieza viaria'],
      dtype=object)

In [75]:
df_MA_20

,LOTE,DISTRITO,FRACCIÃ“N,ENERO '20(TN),FEBRERO '20(TN),MARZO '20(TN),ABRIL '20(TN),MAYO '20(TN),JUNIO'20(TN),JULIO'20(TN),AGOSTO'20(TN),SEPTIEMBRE'20(TN),OCTUBRE'20(TN),NOVIEMBRE'20(TN),DICIEMBRE'20(TN)
0,1,01. CENTRO,RESTO,6023.78,5831.06,4172.66,2488.66,2956.40,3500.46,3749.66,3037.50,3301.84,3276.00,3315.74,3630.82
1,1,01. CENTRO,ENVASES,235.84,231.92,206.44,173.14,217.78,216.44,198.64,167.38,220.90,226.86,213.76,224.86
2,1,01. CENTRO,VIDRIO,723.82,712.72,428.52,293.62,318.08,405.82,384.68,319.08,431.96,448.00,469.60,637.66
3,1,01. CENTRO,CLINICOS,176.02,181.50,245.84,587.70,645.86,535.54,161.96,123.00,151.50,164.34,150.18,152.42
4,1,01. CENTRO,ORGÃNICA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,424.52,539.64,578.50,659.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.89,0.00,1.79,0.00
134,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,98.00,82.90,47.83,20.56,43.79,62.83,42.19,29.02,52.11,59.67,42.25,0.00

In [76]:
df_MA_20.columns

Index(['LOTE ', 'DISTRITO', 'FRACCIÃ“N', 'ENERO '20(TN)', 'FEBRERO '20(TN)',
       'MARZO '20(TN)', 'ABRIL '20(TN)', 'MAYO '20(TN)', 'JUNIO'20(TN)',
       'JULIO'20(TN)', 'AGOSTO'20(TN)', 'SEPTIEMBRE'20(TN)', 'OCTUBRE'20(TN)',
       'NOVIEMBRE'20(TN)', 'DICIEMBRE'20(TN)'],
      dtype='object')

In [77]:
def transformar_meses(df, meses):
    df = df.melt(id_vars=['LOTE ', 'DISTRITO', 'FRACCIÃ“N'], value_vars=meses, var_name='mes', value_name='valor')
    return df

In [78]:
import pandas as pd

def transformar_meses(df, meses):
    # Filtrar las columnas que contienen los nombres de los meses
    columnas_meses = [col for col in df.columns if col in meses]

    # Transformar las columnas de meses utilizando el mÃ©todo melt()
    df_transformado = df.melt(id_vars=['LOTE ', 'DISTRITO', 'FRACCIÃ“N'], value_vars=columnas_meses, var_name='mes', value_name='valor')

    return df_transformado

meses = ['ENERO \'20(TN)', 'FEBRERO \'20(TN)', 'MARZO \'20(TN)', 'ABRIL \'20(TN)', 'MAYO \'20(TN)', 'JUNIO\'20(TN)',
         'JULIO\'20(TN)', 'AGOSTO\'20(TN)', 'SEPTIEMBRE\'20(TN)', 'OCTUBRE\'20(TN)', 'NOVIEMBRE\'20(TN)', 'DICIEMBRE\'20(TN)']

df_trans_20 = transformar_meses(df_MA_20, meses)
df_trans_20

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor
0,1,01. CENTRO,RESTO,ENERO '20(TN),6023.78
1,1,01. CENTRO,ENVASES,ENERO '20(TN),235.84
2,1,01. CENTRO,VIDRIO,ENERO '20(TN),723.82
3,1,01. CENTRO,CLINICOS,ENERO '20(TN),176.02
4,1,01. CENTRO,ORGÃNICA,ENERO '20(TN),0.00
...,...,...,...,...,...
1615,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'20(TN),0.00
1616,NaN,NaN,NaN,DICIEMBRE'20(TN),NaN
1617,NaN,NaN,NaN,DICIEMBRE'20(TN),NaN
1618,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,DICIEMBRE'20(TN),0.00
1619,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,DICIEMBRE'20(TN),0.00

In [79]:
df_trans_20['AÃ±o'] = 2020
df_trans_20

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor,AÃ±o
0,1,01. CENTRO,RESTO,ENERO '20(TN),6023.78,2020
1,1,01. CENTRO,ENVASES,ENERO '20(TN),235.84,2020
2,1,01. CENTRO,VIDRIO,ENERO '20(TN),723.82,2020
3,1,01. CENTRO,CLINICOS,ENERO '20(TN),176.02,2020
4,1,01. CENTRO,ORGÃNICA,ENERO '20(TN),0.00,2020
...,...,...,...,...,...,...
1615,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'20(TN),0.00,2020
1616,NaN,NaN,NaN,DICIEMBRE'20(TN),NaN,2020
1617,NaN,NaN,NaN,DICIEMBRE'20(TN),NaN,2020
1618,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,DICIEMBRE'20(TN),0.00,2020
1619,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,DICIEMBRE'20(TN),0.00,2020

In [80]:
df_trans_20['mes'].unique()

array(["ENERO '20(TN)", "FEBRERO '20(TN)", "MARZO '20(TN)",
       "ABRIL '20(TN)", "MAYO '20(TN)", "JUNIO'20(TN)", "JULIO'20(TN)",
       "AGOSTO'20(TN)", "SEPTIEMBRE'20(TN)", "OCTUBRE'20(TN)",
       "NOVIEMBRE'20(TN)", "DICIEMBRE'20(TN)"], dtype=object)

In [81]:
df_MA_19 = pd.read_excel('datasets/Modelo_Residuos_2019.xlsx')
df_MA_19

,LOTE,DISTRITO,FRACCIÃ“N,ENERO '19(TN),FEBRERO '19(TN),MARZO '19(TN),ABRIL '19(TN),MAYO '19(TN),JUNIO'19(TN),JULIO'19(TN),AGOSTO'19(TN),SEPTIEMBRE'19(TN),OCTUBRE'19(TN),NOVIEMBRE'19(TN),DICIEMBRE'19(TN)
0,1,01. CENTRO,RESTO,6099.24,5643.16,6358.28,5923.36,6361.46,6244.32,5935.02,4864.96,5831.70,6375.50,6133.30,6593.32
1,1,01. CENTRO,ENVASES,201.66,191.92,219.30,205.92,225.40,222.86,205.70,177.78,225.74,238.30,229.12,238.16
2,1,01. CENTRO,VIDRIO,668.56,612.76,706.20,669.12,716.72,684.26,602.40,474.56,665.64,751.24,745.36,858.58
3,1,01. CENTRO,CLINICOS,139.10,152.88,173.58,170.48,165.50,160.88,157.64,122.64,153.26,182.52,171.12,154.98
4,1,01. CENTRO,ORGÃNICA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,23.53,3.21,1.45,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,7.42,0.21,5.91,7.28,0.60,1.11,0.00,0.00,0.00,0.00,0.00,0.00
129,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,95.80,99.54,101.94,96.54,109.44,115.64,80.45,58.11,87.78,88.93,63.42,87.21

In [82]:
df_MA_19.columns

Index(['LOTE ', 'DISTRITO', 'FRACCIÃ“N', 'ENERO '19(TN)', 'FEBRERO '19(TN)',
       'MARZO '19(TN)', 'ABRIL '19(TN)', 'MAYO '19(TN)', 'JUNIO'19(TN)',
       'JULIO'19(TN)', 'AGOSTO'19(TN)', 'SEPTIEMBRE'19(TN)', 'OCTUBRE'19(TN)',
       'NOVIEMBRE'19(TN)', 'DICIEMBRE'19(TN)'],
      dtype='object')

In [83]:
import pandas as pd

def transformar_meses(df, meses):
    df = df.melt(id_vars=['LOTE ', 'DISTRITO', 'FRACCIÃ“N'], value_vars=meses, var_name='mes', value_name='valor')
    return df

In [84]:
meses = ['ENERO \'19(TN)', 'FEBRERO \'19(TN)', 'MARZO \'19(TN)',
                    'ABRIL \'19(TN)', 'MAYO \'19(TN)', 'JUNIO\'19(TN)', 'JULIO\'19(TN)', 'AGOSTO\'19(TN)',
                    'SEPTIEMBRE\'19(TN)', 'OCTUBRE\'19(TN)', 'NOVIEMBRE\'19(TN)', 'DICIEMBRE\'19(TN)']

df_trans_19 = transformar_meses(df_MA_19,meses)
df_trans_19

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor
0,1,01. CENTRO,RESTO,ENERO '19(TN),6099.24
1,1,01. CENTRO,ENVASES,ENERO '19(TN),201.66
2,1,01. CENTRO,VIDRIO,ENERO '19(TN),668.56
3,1,01. CENTRO,CLINICOS,ENERO '19(TN),139.10
4,1,01. CENTRO,ORGÃNICA,ENERO '19(TN),0.00
...,...,...,...,...,...
1555,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'19(TN),0.00
1556,NaN,NaN,NaN,DICIEMBRE'19(TN),NaN
1557,NaN,NaN,NaN,DICIEMBRE'19(TN),NaN
1558,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,DICIEMBRE'19(TN),0.00
1559,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,DICIEMBRE'19(TN),87.21

In [85]:
df_trans_19['AÃ±o'] = 2019
df_trans_19

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor,AÃ±o
0,1,01. CENTRO,RESTO,ENERO '19(TN),6099.24,2019
1,1,01. CENTRO,ENVASES,ENERO '19(TN),201.66,2019
2,1,01. CENTRO,VIDRIO,ENERO '19(TN),668.56,2019
3,1,01. CENTRO,CLINICOS,ENERO '19(TN),139.10,2019
4,1,01. CENTRO,ORGÃNICA,ENERO '19(TN),0.00,2019
...,...,...,...,...,...,...
1555,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'19(TN),0.00,2019
1556,NaN,NaN,NaN,DICIEMBRE'19(TN),NaN,2019
1557,NaN,NaN,NaN,DICIEMBRE'19(TN),NaN,2019
1558,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,DICIEMBRE'19(TN),0.00,2019
1559,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,DICIEMBRE'19(TN),87.21,2019

In [86]:
df_MA_18 = pd.read_excel('datasets/Modelo_Residuos_2018.xlsx')
df_MA_18

,LOTE,DISTRITO,FRACCIÃ“N,ENERO '18(TN),FEBRERO '18(TN),MARZO '18(TN),ABRIL '18(TN),MAYO '18(TN),JUNIO'18(TN),JULIO'18(TN),AGOSTO'18(TN),SEPTIEMBRE'18(TN),OCTUBRE'18(TN),NOVIEMBRE'18(TN),DICIEMBRE'18(TN)
0,1,01. CENTRO,RESTO,6248.640,5722.500,6376.180,6334.00,6544.600,6359.240,6034.72,4908.30,5978.580,6511.400,6202.12,6753.440
1,1,01. CENTRO,ENVASES,159.280,152.580,169.940,178.52,186.440,186.740,176.24,147.08,185.040,198.700,191.04,198.700
2,1,01. CENTRO,VIDRIO,606.840,540.620,582.820,627.06,654.420,620.380,536.80,426.08,573.560,701.280,690.86,783.460
3,1,01. CENTRO,CLINICOS,130.760,128.920,135.460,134.82,130.500,132.220,119.66,97.98,117.560,146.040,141.40,126.460
4,1,01. CENTRO,ORGÃNICA,0.000,0.000,0.000,0.00,0.000,0.000,0.00,0.00,0.000,0.000,0.00,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,2,99. SIN DISTRITO,CONTENEDORES ROPA USADA,0.360,1.260,0.900,0.18,0.720,1.080,1.08,1.08,0.900,0.540,0.54,0.360
122,3,99. SIN DISTRITO,CONTENEDORES ROPA USADA,0.360,0.180,0.360,0.00,0.900,0.540,0.18,0.18,0.180,0.720,0.72,0.180
123,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,30.235,48.515,53.105,53.25,49.795,52.095,60.37,59.09,51.385,65.015,55.53,49.915
124,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.000,0.000,0.000,0.00,0.000,0.000,0.00,0.00,0.000,0.000,0.00,0.000
125,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.000,0.000,0.000,0.00,0.000,0.000,0.00,0.00,0.000,0.000,0.00,0.000

In [87]:
df_MA_18.columns

Index(['LOTE ', 'DISTRITO', 'FRACCIÃ“N', 'ENERO '18(TN)', 'FEBRERO '18(TN)',
       'MARZO '18(TN)', 'ABRIL '18(TN)', 'MAYO '18(TN)', 'JUNIO'18(TN)',
       'JULIO'18(TN)', 'AGOSTO'18(TN)', 'SEPTIEMBRE'18(TN)', 'OCTUBRE'18(TN)',
       'NOVIEMBRE'18(TN)', 'DICIEMBRE'18(TN)'],
      dtype='object')

In [88]:
import pandas as pd

def transformar_meses(df, meses):
    df = df.melt(id_vars=['LOTE ', 'DISTRITO', 'FRACCIÃ“N'], value_vars=meses, var_name='mes', value_name='valor')
    return df

In [89]:
meses = ['ENERO \'18(TN)', 'FEBRERO \'18(TN)', 'MARZO \'18(TN)', 'ABRIL \'18(TN)', 'MAYO \'18(TN)', 'JUNIO\'18(TN)',
         'JULIO\'18(TN)', 'AGOSTO\'18(TN)', 'SEPTIEMBRE\'18(TN)', 'OCTUBRE\'18(TN)', 'NOVIEMBRE\'18(TN)', 'DICIEMBRE\'18(TN)']
df_trans_18 = transformar_meses(df_MA_18,meses)
df_trans_18

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor
0,1,01. CENTRO,RESTO,ENERO '18(TN),6248.640
1,1,01. CENTRO,ENVASES,ENERO '18(TN),159.280
2,1,01. CENTRO,VIDRIO,ENERO '18(TN),606.840
3,1,01. CENTRO,CLINICOS,ENERO '18(TN),130.760
4,1,01. CENTRO,ORGÃNICA,ENERO '18(TN),0.000
...,...,...,...,...,...
1507,2,99. SIN DISTRITO,CONTENEDORES ROPA USADA,DICIEMBRE'18(TN),0.360
1508,3,99. SIN DISTRITO,CONTENEDORES ROPA USADA,DICIEMBRE'18(TN),0.180
1509,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'18(TN),49.915
1510,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'18(TN),0.000
1511,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'18(TN),0.000

In [90]:
df_trans_18['AÃ±o'] = 2018

In [91]:
df_MA_17 = pd.read_excel('datasets/Modelo_Residuos_2017.xlsx')
df_MA_17

,LOTE,DISTRITO,FRACCIÃ“N,ENERO '17(TN),FEBRERO '17(TN),MARZO '17(TN),ABRIL '17(TN),MAYO '17(TN),JUNIO'17(TN),JULIO'17(TN),AGOSTO'17(TN),SEPTIEMBRE'17(TN),OCTUBRE'17(TN),NOVIEMBRE'17(TN),DICIEMBRE'17(TN)
0,1,01. CENTRO,RESTO,5995.86,5562.30,6129.58,5975.840,6500.54,6422.16,6027.780,5037.440,6013.96,6488.28,6163.420,6723.46
1,1,01. CENTRO,ENVASES,138.06,130.56,142.44,135.640,144.06,142.40,132.140,111.980,139.84,156.02,156.160,157.30
2,1,01. CENTRO,VIDRIO,503.50,448.42,514.22,510.960,603.84,520.86,473.040,347.940,490.76,616.02,624.400,726.16
3,1,01. CENTRO,CLINICOS,127.48,127.20,145.26,118.900,130.94,127.72,111.880,99.340,121.98,131.52,134.440,120.66
4,1,01. CENTRO,ORGÃNICA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.000,0.00,0.00,0.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,56.43,52.53,42.86,40.119,43.50,48.96,39.205,45.875,38.37,35.42,36.085,28.76
124,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.000,0.00,0.00,0.000,0.00
125,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.00,0.00,0.00,0.000,0.00,9.61,0.000,0.000,0.00,0.00,0.000,0.00
126,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,9.22,36.52,36.13,22.380,25.33,12.62,10.290,2.140,19.90,15.59,18.820,14.44
127,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,51.94,42.43,58.31,40.140,70.90,66.49,60.250,43.820,61.93,56.10,59.090,38.50

In [92]:
df_MA_17.columns

Index(['LOTE ', 'DISTRITO', 'FRACCIÃ“N', 'ENERO '17(TN)', 'FEBRERO '17(TN)',
       'MARZO '17(TN)', 'ABRIL '17(TN)', 'MAYO '17(TN)', 'JUNIO'17(TN)',
       'JULIO'17(TN)', 'AGOSTO'17(TN)', 'SEPTIEMBRE'17(TN)', 'OCTUBRE'17(TN)',
       'NOVIEMBRE'17(TN)', 'DICIEMBRE'17(TN)'],
      dtype='object')

In [93]:
meses = ['ENERO \'17(TN)', 'FEBRERO \'17(TN)', 'MARZO \'17(TN)', 'ABRIL \'17(TN)', 'MAYO \'17(TN)', 'JUNIO\'17(TN)',
         'JULIO\'17(TN)', 'AGOSTO\'17(TN)', 'SEPTIEMBRE\'17(TN)', 'OCTUBRE\'17(TN)', 'NOVIEMBRE\'17(TN)', 'DICIEMBRE\'17(TN)']
df_trans_17 = transformar_meses(df_MA_17,meses)
df_trans_17

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor
0,1,01. CENTRO,RESTO,ENERO '17(TN),5995.86
1,1,01. CENTRO,ENVASES,ENERO '17(TN),138.06
2,1,01. CENTRO,VIDRIO,ENERO '17(TN),503.50
3,1,01. CENTRO,CLINICOS,ENERO '17(TN),127.48
4,1,01. CENTRO,ORGÃNICA,ENERO '17(TN),0.00
...,...,...,...,...,...
1531,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),28.76
1532,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),0.00
1533,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),0.00
1534,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,DICIEMBRE'17(TN),14.44
1535,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,DICIEMBRE'17(TN),38.50

In [94]:
df_trans_17['AÃ±o'] = 2017
df_trans_17

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor,AÃ±o
0,1,01. CENTRO,RESTO,ENERO '17(TN),5995.86,2017
1,1,01. CENTRO,ENVASES,ENERO '17(TN),138.06,2017
2,1,01. CENTRO,VIDRIO,ENERO '17(TN),503.50,2017
3,1,01. CENTRO,CLINICOS,ENERO '17(TN),127.48,2017
4,1,01. CENTRO,ORGÃNICA,ENERO '17(TN),0.00,2017
...,...,...,...,...,...,...
1531,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),28.76,2017
1532,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),0.00,2017
1533,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),0.00,2017
1534,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,DICIEMBRE'17(TN),14.44,2017
1535,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,DICIEMBRE'17(TN),38.50,2017

In [95]:
df_17_20=_concat_dataframes(df_trans_20,df_trans_19,df_trans_18,df_trans_17)
df_17_20

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor,AÃ±o
0,1,01. CENTRO,RESTO,ENERO '20(TN),6023.78,2020
1,1,01. CENTRO,ENVASES,ENERO '20(TN),235.84,2020
2,1,01. CENTRO,VIDRIO,ENERO '20(TN),723.82,2020
3,1,01. CENTRO,CLINICOS,ENERO '20(TN),176.02,2020
4,1,01. CENTRO,ORGÃNICA,ENERO '20(TN),0.00,2020
...,...,...,...,...,...,...
1531,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),28.76,2017
1532,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),0.00,2017
1533,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,DICIEMBRE'17(TN),0.00,2017
1534,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,DICIEMBRE'17(TN),14.44,2017
1535,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,DICIEMBRE'17(TN),38.50,2017

In [96]:
df_17_20['mes'].unique()

array(["ENERO '20(TN)", "FEBRERO '20(TN)", "MARZO '20(TN)",
       "ABRIL '20(TN)", "MAYO '20(TN)", "JUNIO'20(TN)", "JULIO'20(TN)",
       "AGOSTO'20(TN)", "SEPTIEMBRE'20(TN)", "OCTUBRE'20(TN)",
       "NOVIEMBRE'20(TN)", "DICIEMBRE'20(TN)", "ENERO '19(TN)",
       "FEBRERO '19(TN)", "MARZO '19(TN)", "ABRIL '19(TN)",
       "MAYO '19(TN)", "JUNIO'19(TN)", "JULIO'19(TN)", "AGOSTO'19(TN)",
       "SEPTIEMBRE'19(TN)", "OCTUBRE'19(TN)", "NOVIEMBRE'19(TN)",
       "DICIEMBRE'19(TN)", "ENERO '18(TN)", "FEBRERO '18(TN)",
       "MARZO '18(TN)", "ABRIL '18(TN)", "MAYO '18(TN)", "JUNIO'18(TN)",
       "JULIO'18(TN)", "AGOSTO'18(TN)", "SEPTIEMBRE'18(TN)",
       "OCTUBRE'18(TN)", "NOVIEMBRE'18(TN)", "DICIEMBRE'18(TN)",
       "ENERO '17(TN)", "FEBRERO '17(TN)", "MARZO '17(TN)",
       "ABRIL '17(TN)", "MAYO '17(TN)", "JUNIO'17(TN)", "JULIO'17(TN)",
       "AGOSTO'17(TN)", "SEPTIEMBRE'17(TN)", "OCTUBRE'17(TN)",
       "NOVIEMBRE'17(TN)", "DICIEMBRE'17(TN)"], dtype=object)

In [97]:
df_17_20["mes"] = df_17_20["mes"].apply(lambda x: x.split()[0].lower())
df_17_20

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor,AÃ±o
0,1,01. CENTRO,RESTO,enero,6023.78,2020
1,1,01. CENTRO,ENVASES,enero,235.84,2020
2,1,01. CENTRO,VIDRIO,enero,723.82,2020
3,1,01. CENTRO,CLINICOS,enero,176.02,2020
4,1,01. CENTRO,ORGÃNICA,enero,0.00,2020
...,...,...,...,...,...,...
1531,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre'17(tn),28.76,2017
1532,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre'17(tn),0.00,2017
1533,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre'17(tn),0.00,2017
1534,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,diciembre'17(tn),14.44,2017
1535,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,diciembre'17(tn),38.50,2017

In [98]:
df_17_20["mes"] = df_17_20["mes"].str.replace(r"\'\d{2}\(TN\)", "").str.lower()
df_17_20["mes"] = df_17_20["mes"].str.split("'").str[0]
df_17_20

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor,AÃ±o
0,1,01. CENTRO,RESTO,enero,6023.78,2020
1,1,01. CENTRO,ENVASES,enero,235.84,2020
2,1,01. CENTRO,VIDRIO,enero,723.82,2020
3,1,01. CENTRO,CLINICOS,enero,176.02,2020
4,1,01. CENTRO,ORGÃNICA,enero,0.00,2020
...,...,...,...,...,...,...
1531,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre,28.76,2017
1532,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre,0.00,2017
1533,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre,0.00,2017
1534,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,diciembre,14.44,2017
1535,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,diciembre,38.50,2017

In [99]:
df_17_20['mes'].unique()

array(['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio',
       'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'],
      dtype=object)

In [100]:
import pandas as pd
import re
df_17_20["mes"] = df_17_20["mes"].apply(lambda x: re.sub(r"'\d{2}\(TN\)", "", x) if isinstance(x, str) else x)
df_17_20

,LOTE,DISTRITO,FRACCIÃ“N,mes,valor,AÃ±o
0,1,01. CENTRO,RESTO,enero,6023.78,2020
1,1,01. CENTRO,ENVASES,enero,235.84,2020
2,1,01. CENTRO,VIDRIO,enero,723.82,2020
3,1,01. CENTRO,CLINICOS,enero,176.02,2020
4,1,01. CENTRO,ORGÃNICA,enero,0.00,2020
...,...,...,...,...,...,...
1531,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre,28.76,2017
1532,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre,0.00,2017
1533,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,diciembre,0.00,2017
1534,sin lote,99. SIN DISTRITO,Papel Incautado PolicÃ­a,diciembre,14.44,2017
1535,sin lote,99. SIN DISTRITO,CartÃ³n limpieza viaria,diciembre,38.50,2017

In [101]:
df_20_21=concat_dataframes(df_MA_22,df_MA_21)
df_20_21

,AÃ±o,Mes,Lote,FracciÃ³n,Distrito,Nombre Distrito,Toneladas
0,2022,enero,1,PAPEL-CARTON,1,Centro,395.86
1,2022,enero,1,PAPEL-CARTON,6,TetuÃ¡n,381.98
2,2022,enero,1,PAPEL-CARTON,7,ChamberÃ­,312.76
3,2022,enero,1,PAPEL-CARTON,8,Fuencarral - El Pardo,692.25
4,2022,enero,1,PAPEL-CARTON,9,Moncloa - Aravaca,300.38
...,...,...,...,...,...,...,...
2133,2021,diciembre,3,PUNTOS LIMPIOS,13,Puente de Vallecas,23.80
2134,2021,diciembre,3,PUNTOS LIMPIOS,17,Villaverde,37.66
2135,2021,diciembre,3,PUNTOS LIMPIOS,18,Villa de Vallecas,63.66
2136,2021,diciembre,3,ANIMALES MUERTOS,99,Sin Distrito,8.62
2137,2021,diciembre,3,PILAS,99,Sin Distrito,6.48

In [102]:
df_20_21.columns

Index(['AÃ±o', 'Mes', 'Lote', 'FracciÃ³n', 'Distrito', 'Nombre Distrito',
       'Toneladas'],
      dtype='object')

In [103]:
def col_conversion(df, new_order, col_to_remove=None):
    df = df[new_order]
    if col_to_remove is not None:
        df.drop(col_to_remove, axis=1, inplace=True)
    return df

In [104]:
new_order = ['Lote', 'Nombre Distrito', 'FracciÃ³n', 'Mes', 'Toneladas', 'AÃ±o','Distrito']
df_final_20_21 = col_conversion(df_20_21, new_order, col_to_remove='Distrito')

In [105]:
df_final_20_21 = drop_rows(df_final_20_21, 'FracciÃ³n', ['CAMA DE CABALLO'])

In [106]:
df_final_20_21

,Lote,Nombre Distrito,FracciÃ³n,Mes,Toneladas,AÃ±o
0,1,Centro,PAPEL-CARTON,enero,395.86,2022
1,1,TetuÃ¡n,PAPEL-CARTON,enero,381.98,2022
2,1,ChamberÃ­,PAPEL-CARTON,enero,312.76,2022
3,1,Fuencarral - El Pardo,PAPEL-CARTON,enero,692.25,2022
4,1,Moncloa - Aravaca,PAPEL-CARTON,enero,300.38,2022
...,...,...,...,...,...,...
2133,3,Puente de Vallecas,PUNTOS LIMPIOS,diciembre,23.80,2021
2134,3,Villaverde,PUNTOS LIMPIOS,diciembre,37.66,2021
2135,3,Villa de Vallecas,PUNTOS LIMPIOS,diciembre,63.66,2021
2136,3,Sin Distrito,ANIMALES MUERTOS,diciembre,8.62,2021
2137,3,Sin Distrito,PILAS,diciembre,6.48,2021

In [107]:
def modify_column_values(df, column, value_dict):
    df[column] = df[column].replace(value_dict)
    return df

In [108]:
new_names = {'CARTON COMERCIAL': 'CARTÃ“N COMERCIAL', 'PAPEL-CARTON': 'PAPEL-CARTÃ“N', 'ORGANICA': 'ORGÃNICA', 'CONTENEDORES DE ROPA': 'ROPA USADA', 'ROPA': 'ROPA USADA'}
df_final_20_21 = modify_column_values(df_final_20_21, 'FracciÃ³n', new_names)
df_final_20_21['FracciÃ³n'].unique()

array(['PAPEL-CARTÃ“N', 'CARTÃ“N COMERCIAL', 'CLINICOS', 'ENVASES',
       'ORGÃNICA', 'PUNTOS LIMPIOS', 'RCD', 'RESTO', 'VIDRIO',
       'VIDRIO COMERCIAL', 'ROPA USADA', 'ANIMALES MUERTOS', 'PILAS'],
      dtype=object)

In [109]:
df_final_20_21['Nombre Distrito'].unique()

array(['Centro', 'TetuÃ¡n', 'ChamberÃ­', 'Fuencarral - El Pardo',
       'Moncloa - Aravaca', 'Latina', 'Retiro', 'Salamanca', 'ChamartÃ­n',
       'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'VicÃ¡lvaro',
       'San Blas - Canillejas', 'Barajas', 'Arganzuela', 'Carabanchel',
       'Usera', 'Puente de Vallecas', 'Villaverde', 'Villa de Vallecas',
       'Sin Distrito'], dtype=object)

In [110]:
new_names1 = {'CONTENEDORES ROPA USADA': 'ROPA USADA'}
df_17_20 = modify_column_values(df_17_20, 'FRACCIÃ“N', new_names1)
df_17_20['FRACCIÃ“N'].unique()

array(['RESTO', 'ENVASES', 'VIDRIO', 'CLINICOS', 'ORGÃNICA',
       'PUNTOS LIMPIOS', 'PILAS', 'ANIMALES MUERTOS', 'CARTÃ“N COMERCIAL',
       'PAPEL-CARTÃ“N', 'RCD', 'VIDRIO COMERCIAL', 'ROPA USADA',
       'RESIDUOS DEPOSITADOS MIGAS CALIENTES', nan,
       'Papel Incautado PolicÃ­a', 'CartÃ³n limpieza viaria'], dtype=object)

In [111]:
values_to_drop=['RESIDUOS DEPOSITADOS MIGAS CALIENTES','Papel Incautado PolicÃ­a','CartÃ³n limpieza viaria']
df_17_20 = drop_rows(df_17_20, 'FRACCIÃ“N', values_to_drop)
df_17_20['FRACCIÃ“N'].unique()

array(['RESTO', 'ENVASES', 'VIDRIO', 'CLINICOS', 'ORGÃNICA',
       'PUNTOS LIMPIOS', 'PILAS', 'ANIMALES MUERTOS', 'CARTÃ“N COMERCIAL',
       'PAPEL-CARTÃ“N', 'RCD', 'VIDRIO COMERCIAL', 'ROPA USADA'],
      dtype=object)

In [112]:
df_final_20_21.sample()

     Lote Nombre Distrito FracciÃ³n      Mes  Toneladas   AÃ±o
308     2         Barajas   VIDRIO  febrero       78.8  2022

In [113]:
df_17_20.rename(columns={'LOTE ': 'Lote', 'DISTRITO': 'Nombre Distrito','FRACCIÃ“N':'FracciÃ³n','mes':'Mes','valor':'Toneladas'}, inplace=True)
df_17_20

     Lote   Nombre Distrito          FracciÃ³n        Mes  Toneladas   AÃ±o
0       1        01. CENTRO             RESTO      enero    6023.78  2020
1       1        01. CENTRO           ENVASES      enero     235.84  2020
2       1        01. CENTRO            VIDRIO      enero     723.82  2020
3       1        01. CENTRO          CLINICOS      enero     176.02  2020
4       1        01. CENTRO          ORGÃNICA      enero       0.00  2020
...   ...               ...               ...        ...        ...   ...
1526    2  99. SIN DISTRITO  VIDRIO COMERCIAL  diciembre      58.94  2017
1527    3  99. SIN DISTRITO  VIDRIO COMERCIAL  diciembre       4.40  2017
1528    1  99. SIN DISTRITO        ROPA USADA  diciembre       0.18  2017
1529    2  99. SIN DISTRITO        ROPA USADA  diciembre       0.36  2017
1530    3  99. SIN DISTRITO        ROPA USADA  diciembre       0.72  2017

[5964 rows x 6 columns]

In [114]:
df_totals_recycling = pd.concat([df_final_20_21, df_17_20], axis=0)
df_totals_recycling

     Lote        Nombre Distrito          FracciÃ³n        Mes  Toneladas   AÃ±o
0       1                 Centro      PAPEL-CARTÃ“N      enero     395.86  2022
1       1                 TetuÃ¡n      PAPEL-CARTÃ“N      enero     381.98  2022
2       1               ChamberÃ­      PAPEL-CARTÃ“N      enero     312.76  2022
3       1  Fuencarral - El Pardo      PAPEL-CARTÃ“N      enero     692.25  2022
4       1      Moncloa - Aravaca      PAPEL-CARTÃ“N      enero     300.38  2022
...   ...                    ...               ...        ...        ...   ...
1526    2       99. SIN DISTRITO  VIDRIO COMERCIAL  diciembre      58.94  2017
1527    3       99. SIN DISTRITO  VIDRIO COMERCIAL  diciembre       4.40  2017
1528    1       99. SIN DISTRITO        ROPA USADA  diciembre       0.18  2017
1529    2       99. SIN DISTRITO        ROPA USADA  diciembre       0.36  2017
1530    3       99. SIN DISTRITO        ROPA USADA  diciembre       0.72  2017

[10272 rows x 6 columns]

In [115]:
df_totals_recycling

     Lote        Nombre Distrito          FracciÃ³n        Mes  Toneladas   AÃ±o
0       1                 Centro      PAPEL-CARTÃ“N      enero     395.86  2022
1       1                 TetuÃ¡n      PAPEL-CARTÃ“N      enero     381.98  2022
2       1               ChamberÃ­      PAPEL-CARTÃ“N      enero     312.76  2022
3       1  Fuencarral - El Pardo      PAPEL-CARTÃ“N      enero     692.25  2022
4       1      Moncloa - Aravaca      PAPEL-CARTÃ“N      enero     300.38  2022
...   ...                    ...               ...        ...        ...   ...
1526    2       99. SIN DISTRITO  VIDRIO COMERCIAL  diciembre      58.94  2017
1527    3       99. SIN DISTRITO  VIDRIO COMERCIAL  diciembre       4.40  2017
1528    1       99. SIN DISTRITO        ROPA USADA  diciembre       0.18  2017
1529    2       99. SIN DISTRITO        ROPA USADA  diciembre       0.36  2017
1530    3       99. SIN DISTRITO        ROPA USADA  diciembre       0.72  2017

[10272 rows x 6 columns]

In [116]:
df_totals_recycling['Nombre Distrito'].unique()

array(['Centro', 'TetuÃ¡n', 'ChamberÃ­', 'Fuencarral - El Pardo',
       'Moncloa - Aravaca', 'Latina', 'Retiro', 'Salamanca', 'ChamartÃ­n',
       'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'VicÃ¡lvaro',
       'San Blas - Canillejas', 'Barajas', 'Arganzuela', 'Carabanchel',
       'Usera', 'Puente de Vallecas', 'Villaverde', 'Villa de Vallecas',
       'Sin Distrito', '01. CENTRO', '02. ARGANZUELA', '03. RETIRO',
       '04. SALAMANCA', '05. CHAMARTÃN', '06. TETUAN', '07. CHAMBERÃ',
       '08. FUENCARRAL', '09. MONCLOA - ARAVACA', '10. LATINA',
       '11. CARABANCHEL', '12. USERA', '13. PUENTE DE VALLECAS',
       '14. MORATALAZ', '15. CIUDAD LINEAL', '16. HORTALEZA',
       '17. VILLAVERDE', '18. VILLA DE VALLECAS', '19. VICÃLVARO',
       '20. SAN BLAS-CANILLEJAS', '21. BARAJAS', '99. SIN DISTRITO'],
      dtype=object)

In [117]:
df_totals_recycling['AÃ±o'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017], dtype=int64)

In [118]:
def homogenize_district_names(df, district_column):
    def clean_district_name(value):
        value = re.sub(r'\d+\.\s*', '', value)
        value = value.capitalize()
        return value
    
    df = df.drop(df[(df[district_column].str.upper() == 'SIN DISTRITO') | (df[district_column].str.capitalize() == 'Sin distrito')].index)
    df[district_column] = df[district_column].apply(clean_district_name)
    
    return df

In [119]:
df_totals_recycling = homogenize_district_names(df_totals_recycling, 'Nombre Distrito')

In [116]:
new_names2 = {'San blas - canillejas': 'San blas-canillejas', 'Fuencarral': 'Fuencarral - el pardo','Tetuan':'TetuÃ¡n'}
df_totals_recycling = modify_column_values(df_totals_recycling, 'Nombre Distrito', new_names2)
df_totals_recycling['Nombre Distrito'].unique()

array(['Centro', 'TetuÃ¡n', 'ChamberÃ­', 'Fuencarral - el pardo',
       'Moncloa - aravaca', 'Latina', 'Retiro', 'Salamanca', 'ChamartÃ­n',
       'Moratalaz', 'Ciudad lineal', 'Hortaleza', 'VicÃ¡lvaro',
       'San blas-canillejas', 'Barajas', 'Arganzuela', 'Carabanchel',
       'Usera', 'Puente de vallecas', 'Villaverde', 'Villa de vallecas'],
      dtype=object)

LOCALIZACIONES

In [47]:
df_bins=pd.read_excel('datasets/Contenedores_varios.xlsx')

In [48]:
df_bins

,CÃ³digo Interno del Situad,Tipo Contenedor,Modelo,Descripcion Modelo,Cantidad,Lote,Distrito,Barrio,Tipo VÃ­a,Nombre,NÃºmero,COORDENADA X,COORDENADA Y,LONGITUD,LATITUD,DIRECCION
0,181193,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DEÂ LAÂ SIERRAÂ ESPUÃ‘A,4.0,447109.710000,4.469732e+06,-3.623050,40.376498,"CALLE DEÂ LAÂ SIERRAÂ ESPUÃ‘A, 4"
1,181843,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DELÂ PUERTOÂ DEÂ POZAZAL,1.0,446615.250000,4.470062e+06,-3.628902,40.379437,"CALLE DELÂ PUERTOÂ DEÂ POZAZAL, 1"
2,178948,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,TRESÂ MERCAMADRID,5.0,443017.320000,4.467824e+06,-3.671085,40.359038,"CALLE TRESÂ MERCAMADRID, 5"
3,181864,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DEÂ LAÂ PEÃ‘AÂ NUEVA,55.0,447358.450000,4.469066e+06,-3.620065,40.370510,"CALLE DEÂ LAÂ PEÃ‘AÂ NUEVA, 55"
4,181872,RESTO,CL_13,ResÂ 3200Â CL,1,3,PUENTEÂ DEÂ VALLECAS,NaN,CALLE,DEÂ MONTANCHEZ,14.0,443039.130000,4.469446e+06,-3.670973,40.373649,"CALLE DEÂ MONTANCHEZ, 14"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43632,401538,PAPEL-CARTON,IG_21_228,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16"
43633,401538,VIDRIO,IG_21_228,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16"
43634,401540,VIDRIO,IG_21_229,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,TURIN,2.0,447810.168902,4.479313e+06,-3.615585,40.462848,"CALLE TURIN, 2"
43635,405504,PAPEL-CARTON,IG_21_230,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4"
43636,405504,VIDRIO,IG_21_230,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4"

In [49]:
null_count = df_bins['LONGITUD'].isnull().sum()
null_count

0

In [50]:
duplicates_count = df_bins.duplicated().sum()
duplicates_count

8667

In [51]:
null_count = df_bins['Tipo Contenedor'].isnull().sum()
null_count

0

In [52]:
def clean_data(df):
    df.drop_duplicates(inplace=True)
    return df

In [53]:
clean_data(df_bins)

,CÃ³digo Interno del Situad,Tipo Contenedor,Modelo,Descripcion Modelo,Cantidad,Lote,Distrito,Barrio,Tipo VÃ­a,Nombre,NÃºmero,COORDENADA X,COORDENADA Y,LONGITUD,LATITUD,DIRECCION
0,181193,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DEÂ LAÂ SIERRAÂ ESPUÃ‘A,4.0,447109.710000,4.469732e+06,-3.623050,40.376498,"CALLE DEÂ LAÂ SIERRAÂ ESPUÃ‘A, 4"
1,181843,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DELÂ PUERTOÂ DEÂ POZAZAL,1.0,446615.250000,4.470062e+06,-3.628902,40.379437,"CALLE DELÂ PUERTOÂ DEÂ POZAZAL, 1"
2,178948,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,TRESÂ MERCAMADRID,5.0,443017.320000,4.467824e+06,-3.671085,40.359038,"CALLE TRESÂ MERCAMADRID, 5"
3,181864,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DEÂ LAÂ PEÃ‘AÂ NUEVA,55.0,447358.450000,4.469066e+06,-3.620065,40.370510,"CALLE DEÂ LAÂ PEÃ‘AÂ NUEVA, 55"
4,181872,RESTO,CL_13,ResÂ 3200Â CL,1,3,PUENTEÂ DEÂ VALLECAS,NaN,CALLE,DEÂ MONTANCHEZ,14.0,443039.130000,4.469446e+06,-3.670973,40.373649,"CALLE DEÂ MONTANCHEZ, 14"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43632,401538,PAPEL-CARTON,IG_21_228,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16"
43633,401538,VIDRIO,IG_21_228,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16"
43634,401540,VIDRIO,IG_21_229,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,TURIN,2.0,447810.168902,4.479313e+06,-3.615585,40.462848,"CALLE TURIN, 2"
43635,405504,PAPEL-CARTON,IG_21_230,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4"
43636,405504,VIDRIO,IG_21_230,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4"

In [54]:
df_bins['Tipo Contenedor'].unique()

array(['RESTO', 'PAPEL-CARTON', 'ENVASES', 'ORGANICA', 'VIDRIO'],
      dtype=object)

In [55]:
df_bins['CÃ³digo Interno del Situad'].value_counts()

CÃ³digo Interno del Situad
919108    5
183849    4
183842    4
183800    4
182282    4
         ..
164880    1
164998    1
182193    1
340263    1
182748    1
Name: count, Length: 14170, dtype: int64

In [56]:
df_bins.columns

Index(['CÃ³digo Interno del Situad', 'Tipo Contenedor', 'Modelo',
       'Descripcion Modelo', 'Cantidad', 'Lote', 'Distrito', 'Barrio',
       'Tipo VÃ­a', 'Nombre', 'NÃºmero', 'COORDENADA X', 'COORDENADA Y',
       'LONGITUD', 'LATITUD', 'DIRECCION'],
      dtype='object')

In [57]:
import pandas as pd

def rename_columns_and_add_country(df):
    rename_col = {
        'CÃ³digo Interno del Situad': 'CÃ³digo_interno',
        'Tipo Contenedor': 'Tipo_Contenedor',
        'Descripcion Modelo': 'DescripciÃ³n_Modelo',
        'DIRECCION': 'DirecciÃ³n'}
    df = df.rename(columns=rename_col)
    df['PaÃ­s'] = 'EspaÃ±a'
    df['Ciudad'] = 'Madrid'
    return df

In [58]:
df_bins = rename_columns_and_add_country(df_bins)
df_bins

,CÃ³digo_interno,Tipo_Contenedor,Modelo,DescripciÃ³n_Modelo,Cantidad,Lote,Distrito,Barrio,Tipo VÃ­a,Nombre,NÃºmero,COORDENADA X,COORDENADA Y,LONGITUD,LATITUD,DirecciÃ³n,PaÃ­s,Ciudad
0,181193,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DEÂ LAÂ SIERRAÂ ESPUÃ‘A,4.0,447109.710000,4.469732e+06,-3.623050,40.376498,"CALLE DEÂ LAÂ SIERRAÂ ESPUÃ‘A, 4",EspaÃ±a,Madrid
1,181843,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DELÂ PUERTOÂ DEÂ POZAZAL,1.0,446615.250000,4.470062e+06,-3.628902,40.379437,"CALLE DELÂ PUERTOÂ DEÂ POZAZAL, 1",EspaÃ±a,Madrid
2,178948,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,TRESÂ MERCAMADRID,5.0,443017.320000,4.467824e+06,-3.671085,40.359038,"CALLE TRESÂ MERCAMADRID, 5",EspaÃ±a,Madrid
3,181864,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,NaN,CALLE,DEÂ LAÂ PEÃ‘AÂ NUEVA,55.0,447358.450000,4.469066e+06,-3.620065,40.370510,"CALLE DEÂ LAÂ PEÃ‘AÂ NUEVA, 55",EspaÃ±a,Madrid
4,181872,RESTO,CL_13,ResÂ 3200Â CL,1,3,PUENTEÂ DEÂ VALLECAS,NaN,CALLE,DEÂ MONTANCHEZ,14.0,443039.130000,4.469446e+06,-3.670973,40.373649,"CALLE DEÂ MONTANCHEZ, 14",EspaÃ±a,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43632,401538,PAPEL-CARTON,IG_21_228,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16",EspaÃ±a,Madrid
43633,401538,VIDRIO,IG_21_228,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16",EspaÃ±a,Madrid
43634,401540,VIDRIO,IG_21_229,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,TURIN,2.0,447810.168902,4.479313e+06,-3.615585,40.462848,"CALLE TURIN, 2",EspaÃ±a,Madrid
43635,405504,PAPEL-CARTON,IG_21_230,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4",EspaÃ±a,Madrid
43636,405504,VIDRIO,IG_21_230,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,NaN,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4",EspaÃ±a,Madrid

In [59]:
def check_nan(df):
    nan_couns=df.isna().sum()
    return nan_couns

In [60]:
total=check_nan(df_bins)
total

CÃ³digo_interno            0
Tipo_Contenedor           0
Modelo                    0
DescripciÃ³n_Modelo        0
Cantidad                  0
Lote                      0
Distrito                  0
Barrio                34970
Tipo VÃ­a                  0
Nombre                    0
NÃºmero                   66
COORDENADA X              0
COORDENADA Y              0
LONGITUD                  0
LATITUD                   0
DirecciÃ³n                 0
PaÃ­s                      0
Ciudad                    0
dtype: int64

In [61]:
def remove_columns(df, col):
    df = df.drop(columns=col)
    return df

In [62]:
df_bins=remove_columns(df_bins,'Barrio')
df_bins

,CÃ³digo_interno,Tipo_Contenedor,Modelo,DescripciÃ³n_Modelo,Cantidad,Lote,Distrito,Tipo VÃ­a,Nombre,NÃºmero,COORDENADA X,COORDENADA Y,LONGITUD,LATITUD,DirecciÃ³n,PaÃ­s,Ciudad
0,181193,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,CALLE,DEÂ LAÂ SIERRAÂ ESPUÃ‘A,4.0,447109.710000,4.469732e+06,-3.623050,40.376498,"CALLE DEÂ LAÂ SIERRAÂ ESPUÃ‘A, 4",EspaÃ±a,Madrid
1,181843,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,CALLE,DELÂ PUERTOÂ DEÂ POZAZAL,1.0,446615.250000,4.470062e+06,-3.628902,40.379437,"CALLE DELÂ PUERTOÂ DEÂ POZAZAL, 1",EspaÃ±a,Madrid
2,178948,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,CALLE,TRESÂ MERCAMADRID,5.0,443017.320000,4.467824e+06,-3.671085,40.359038,"CALLE TRESÂ MERCAMADRID, 5",EspaÃ±a,Madrid
3,181864,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,CALLE,DEÂ LAÂ PEÃ‘AÂ NUEVA,55.0,447358.450000,4.469066e+06,-3.620065,40.370510,"CALLE DEÂ LAÂ PEÃ‘AÂ NUEVA, 55",EspaÃ±a,Madrid
4,181872,RESTO,CL_13,ResÂ 3200Â CL,1,3,PUENTEÂ DEÂ VALLECAS,CALLE,DEÂ MONTANCHEZ,14.0,443039.130000,4.469446e+06,-3.670973,40.373649,"CALLE DEÂ MONTANCHEZ, 14",EspaÃ±a,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43632,401538,PAPEL-CARTON,IG_21_228,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16",EspaÃ±a,Madrid
43633,401538,VIDRIO,IG_21_228,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16",EspaÃ±a,Madrid
43634,401540,VIDRIO,IG_21_229,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,TURIN,2.0,447810.168902,4.479313e+06,-3.615585,40.462848,"CALLE TURIN, 2",EspaÃ±a,Madrid
43635,405504,PAPEL-CARTON,IG_21_230,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4",EspaÃ±a,Madrid
43636,405504,VIDRIO,IG_21_230,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4",EspaÃ±a,Madrid

In [63]:
def convert_index_to_column(df, column_name):
    df = df.reset_index()
    df = df.rename(columns={'index': column_name})
    return df

In [64]:
df_bins=convert_index_to_column(df_bins,'Num_Ãºnico')
df_bins

,Num_Ãºnico,CÃ³digo_interno,Tipo_Contenedor,Modelo,DescripciÃ³n_Modelo,Cantidad,Lote,Distrito,Tipo VÃ­a,Nombre,NÃºmero,COORDENADA X,COORDENADA Y,LONGITUD,LATITUD,DirecciÃ³n,PaÃ­s,Ciudad
0,0,181193,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,CALLE,DEÂ LAÂ SIERRAÂ ESPUÃ‘A,4.0,447109.710000,4.469732e+06,-3.623050,40.376498,"CALLE DEÂ LAÂ SIERRAÂ ESPUÃ‘A, 4",EspaÃ±a,Madrid
1,1,181843,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,CALLE,DELÂ PUERTOÂ DEÂ POZAZAL,1.0,446615.250000,4.470062e+06,-3.628902,40.379437,"CALLE DELÂ PUERTOÂ DEÂ POZAZAL, 1",EspaÃ±a,Madrid
2,2,178948,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,CALLE,TRESÂ MERCAMADRID,5.0,443017.320000,4.467824e+06,-3.671085,40.359038,"CALLE TRESÂ MERCAMADRID, 5",EspaÃ±a,Madrid
3,3,181864,RESTO,CL_18,ResÂ 3200Â CL,1,3,VILLAÂ DEÂ VALLECAS,CALLE,DEÂ LAÂ PEÃ‘AÂ NUEVA,55.0,447358.450000,4.469066e+06,-3.620065,40.370510,"CALLE DEÂ LAÂ PEÃ‘AÂ NUEVA, 55",EspaÃ±a,Madrid
4,4,181872,RESTO,CL_13,ResÂ 3200Â CL,1,3,PUENTEÂ DEÂ VALLECAS,CALLE,DEÂ MONTANCHEZ,14.0,443039.130000,4.469446e+06,-3.670973,40.373649,"CALLE DEÂ MONTANCHEZ, 14",EspaÃ±a,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34965,43632,401538,PAPEL-CARTON,IG_21_228,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16",EspaÃ±a,Madrid
34966,43633,401538,VIDRIO,IG_21_228,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,PLAYA DE SAN JUAN,16.0,449959.824347,4.480534e+06,-3.590327,40.473977,"CALLE PLAYA DE SAN JUAN, 16",EspaÃ±a,Madrid
34967,43634,401540,VIDRIO,IG_21_229,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,TURIN,2.0,447810.168902,4.479313e+06,-3.615585,40.462848,"CALLE TURIN, 2",EspaÃ±a,Madrid
34968,43635,405504,PAPEL-CARTON,IG_21_230,PCÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4",EspaÃ±a,Madrid
34969,43636,405504,VIDRIO,IG_21_230,VÂ 3000Â CAMPANAÂ PEÂ ADAPT,1,2,BARAJAS,CALLE,MISTRAL,4.0,449359.468943,4.480392e+06,-3.597398,40.472664,"CALLE MISTRAL, 4",EspaÃ±a,Madrid

In [65]:
df_bins.to_excel('df_bins2.xlsx', index=True)
df_bins.to_csv('df_bins2.csv', index=True)

In [120]:
df_totals_recycling.to_excel('datasets/total_collected.xlsx', index=True)

#